@using Lpp.QueryComposer
<script type="text/html" id="v_@ModelTermsFactory.PrescribingID">
    <p class="bold center operator" data-bind="text:Global.Helpers.GetEnumString(Dns.Enums.QueryComposerOperatorsTranslation, Operator()), visible:$index() > 0"></p>
    <div class="row row-noborder">
        <div class="col-sm-3 bold">Prescribing</div>
        <div class="col-sm-3" style="text-align:right;">
            <strong>Code Set:</strong><br />
            <strong>Search Method:</strong><br />
            <strong>Selected Codes:</strong>
        </div>
        <div class="col-sm-6">
            <span>RxNorm CUI</span><br />
            "<span data-bind="text:Global.Helpers.GetEnumString(Dns.Enums.TextSearchMethodTypeTranslation, Values().SearchMethodType() || Dns.Enums.TextSearchMethodType.ExactMatch)"></span>"<br />
            <span data-bind="text:Plugins.Requests.QueryBuilder.View.PrepareCollectionForDisplay((Values().CodeValues() || ''), ';')"></span>
        </div>
    </div>
</script>