@using Lpp.QueryComposer

@*File upload term is going to use a custom activity and not be part of QueryComposer for composition.*@
<script type="text/html" id="e_@ModelTermsFactory.FileUploadID">
    <p class="bold center operator" data-bind="text:Global.Helpers.GetEnumString(Dns.Enums.QueryComposerOperatorsTranslation, Operator()), visible:$index() > 0"></p>
    <div class="row">
        <div class="col-sm-4 bold"><h4 class="TermHeader bold">File Upload<em data-bind="visible:Design.Locked" style="color:red">*</em></h4></div>
        <div class="col-sm-4">
            <p class="alert alert-info">This term is specifically for use in a template for a File Distribution Interface request, and cannot be used in conjunction with other terms.</p>
        </div>*
        <div class="col-sm-2" data-bind="visible: $root.IsTemplateEdit">
            <input type="checkbox" data-bind="checked: Design.Locked" />
            <span>Locked</span>
        </div>
        <div class="col-sm-2">
            <button id="btnDeleteModularProgramUpload" class="btn btn-danger pull-right" data-bind="click: function(data, event) { $root.DeleteTerm(data, $parent, event);}, visible: $root.IsTemplateEdit || !Design.Locked()"><span class="glyphicon glyphicon-minus"></span> Remove</button>
        </div>
    </div>
</script>
