@using Lpp.QueryComposer
<script type="text/html" id="sv_@ModelTermsFactory.ICD9DiagnosisCodes3digitID">
    <div class="row">
        <div class="col-sm-12 bold">ICD 9 Diagnosis (3 digit)</div>
    </div>
</script>