<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <appSettings>
        <add key="SsoUrl" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" value="http://sso.lincolnpeak.com/account/login"/>
        <add key="SsoKey" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" value="PopMedNetSso"/>
        <add key="SsoHash" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" value="fd2cdd12298a4ee098ca985957dd0263"/>
        <add key="ClientDownloadSite" xdt:Transform="SetAttributes" xdt:Locator="Match(Key)" value="http://client.lincolnpeak.com"/>
    </appSettings>
    <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>