<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Lpp.DisplaySecurity.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <Lpp.DisplaySecurity.Properties.Settings>
            <setting name="SettingsUID" serializeAs="String">
                <value>dns5_edge</value>
            </setting>
            <setting name="SettingsPassword" serializeAs="String">
                <value>Lpp080414#</value>
            </setting>
            <setting name="SettingsServer" serializeAs="String">
                <value>10.28.119.205</value>
            </setting>
            <setting name="SettingsTC" serializeAs="String">
                <value>no</value>
            </setting>
            <setting name="SettingsDB" serializeAs="String">
                <value>QA5_2DNSDB</value>
            </setting>
            <setting name="SettingsCTO" serializeAs="String">
                <value>30</value>
            </setting>
        </Lpp.DisplaySecurity.Properties.Settings>
    </userSettings>
</configuration>
