@using Lpp.QueryComposer

<script type="text/html" id="Guid.Empty">
    <div class="row">
        <div class="col-sm-2 bold">Height Distribution</div>
        <div class="col-sm-4">
            &nbsp;
        </div>
        <div class="col-sm-4">
            &nbsp;
        </div>
    </div>
</script>