<br />
<!-- ko stopBinding: true -->
<div id="DefaultRequestReview">
    <div data-bind="visible:HasPermission(Permissions.ProjectRequestTypeWorkflowActivities.EditTask)" style="display:none;">
    <!-- ko stopBinding: true -->
    @Html.Partial("~/areas/QueryComposer/Views/edit.cshtml")
    <!-- /ko-->
    </div>
    <div data-bind="visible:HasPermission(Permissions.ProjectRequestTypeWorkflowActivities.EditTask) == false" style="display:none;">
    <!-- ko stopBinding: true -->
    <div id="QCreadonly">
        @Html.Partial("~/areas/QueryComposer/Views/view.cshtml")
    </div>
    <!-- /ko-->
    </div>
    <div style="margin-top: 15px; padding-top: 15px; border-top: solid 1px silver;">
        <button class="btn btn-warning pull-right" data-resultid="4AE61A78-CE31-4A01-807F-DB18A535E4E0" data-bind="click: Complete, visible:HasPermission(Permissions.ProjectRequestTypeWorkflowActivities.CloseTask) && AllowApprove">Approve</button>
        <button class="btn btn-primary pull-right" style="margin-right: 15px;" data-resultid="EA120001-7A35-4829-9F2D-A3B600E25013" data-bind="click: Complete, visible:HasPermission(Permissions.ProjectRequestTypeWorkflowActivities.CloseTask) && AllowApprove">Reject</button>
        <button class="btn btn-primary pull-right" style="margin-right: 15px;" data-resultid="DFF3000B-B076-4D07-8D83-05EDE3636F4D" data-bind="click: Complete, visible:HasPermission(Permissions.ProjectRequestTypeWorkflowActivities.EditTask)">Save</button>
    </div>
    <div class="clearfix"></div>
</div>
<!-- /ko-->
<script src="~/Areas/Workflow/js/Requests/SummaryQuery/RequestReview.js"></script>