@{
    ViewBag.Title = "Organizations";
    Layout = "~/Views/_Layout.cshtml";
}

@section Head {
    <script src="~/js/Organizations/Index.js"></script>
}
<article class="panel panel-default" data-bind="css: {visible: true}">
    <div class="panel-heading">
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="/organizations">Organizations</a></li>
        </ol>
    </div>
    <div class="panel-body">
        <div id="gOrganizations" style="min-height: 400px;" data-bind="kendoGrid: {
            data: ds,
            sortable: true,
            filterable: true,
            resizable: true,
            reorderable: true,
            columnMenu: { columns: true },
            columnMenuInit: $root.onColumnMenuInit,
            scrollable: false,
            pageable: false,
            columns: [
                {field: 'Name', title: 'Name', template: Organizations.Index.NameAchor},
                {field: 'Acronym', title: 'Acronym'},
                {field: 'ParentOrganization', title: 'Parent', template: Organizations.Index.ParentNameAchor},
            ]
             }">
        </div>
    </div>
    <nav class="panel-footer right">
        <button class="btn btn-default" id="btnNewOrganization" data-bind="click: btnNewOrganization_Click, visible: HasPermission(Permissions.Portal.CreateOrganization)"><img src="@this.ResourceUrl("/images/Add16.png")" alt="Add Organization" />Add Organization</button>
    </nav>
</article>