@model ReportModel
@{ Layout = null; }

<html lang="en">
<head>
    <link rel="Stylesheet" type="text/css" href="@this.Resource( "Report.css" )" />
</head>
<body>@(Html.Partial<ResultBody>())</body>
</html>