
<script src="/areas/workflow/js/response/responsedetail.js"></script>
<style>
    .Highlight {
        background-color: yellow;
        /*display:none;*/
    }

    /*Hack cause Bootstrap tabs/panel and Kendo grid dont play well.*/
    /*Make sure this is always 20px below what is set in the grid markup in the TS...*/
     .k-grid-content{
        height:500px;
    }

    #gResults .null-cell {
        background-color:#dadada;
        margin:-5px -8px;
        padding:5px 8px;
    }

    .document-title {
        text-decoration: none;
        color: #333;
    }
</style>
<!-- ko stopBinding: true -->

<section id="DefaultResponseDetail">
    <article class="alert alert-info" data-bind="hidden:true" style="width:600px;margin:24px auto;text-align:center;">
        <p>Loading Response Documents...</p>
    </article>
    <section style="margin-top:15px;display:none;" data-bind="visible:true;">
        <nav style="border-bottom:1px solid silver;padding-bottom:15px;margin-bottom:4px;">
            <div class="btn-group pull-right" data-bind="visible: IsResponseLoadFailed() == false && IsResponseVisible() && $root.hasResponseResultsContent">
                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" style="margin-right: 15px;" data-bind="visible:Responses.length > 0">Download Results <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                    <li><a data-bind="href:ExportCSVUrl">CSV</a></li>
                    <li><a data-bind="href:ExportExcelUrl">Excel</a></li>
                </ul>
            </div>
            <a data-bind="visible: isDownloadAllVisible, href:ExportDownloadAllUrl" class="btn btn-default pull-right" style="margin-right:15px;width:120px">Download All</a>
            <div class="clearfix"></div>
        </nav>

        <article class="panel panel-default" data-bind="visible: IsResponseVisible() != null && IsResponseVisible() == false">
            <div class="panel-heading">
                <h4 class="panel-title">Response Pending Approval</h4>
            </div>
            <div class="panel-body">
                <span>
                    The response can't be viewed as you don't have permission to view unapproved responses.
                </span>
            </div>
        </article>

        <div data-bind="visible: IsResponseVisible">
            <article class="panel panel-default" data-bind="visible:ResponseView() != 'AggregateResponse'">
                <div class="panel-heading">
                    <h4 class="panel-title">Response Documents</h4>
                </div>

                <table class="panel-body table table-striped table-bordered">
                    <colgroup>
                        <col style="width:30%; vertical-align:middle;" />
                        <col style="vertical-align: middle;" />
                        <col style="width: 110px; vertical-align: middle;" />
                        <col style="vertical-align:middle"/>
                    </colgroup>
                    <thead>
                        <tr>
                            <th class="bold">Source</th>
                            <th class="bold">File Name</th>
                            <th class="bold" style="text-align:center;">Size</th>
                            <th class="bold">Document Type</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: { data:Documents, as:'file'}">
                        <tr>
                            <td><a href="#" data-bind="text:file.ItemTitle, attr:{ href: '#' + file.ID}" class="document-title" title="Go to results"></a></td>
                            <td data-bind="html:Workflow.Response.Common.ResponseDetail.Utils.buildDownloadLink(file.ID, file.FileName, file.Name)"></td>
                            <td data-bind="text:Global.Helpers.formatFileSize(file.Length)" style="text-align:right;"></td>
                            <td>
                                <!--ko if: file.DocumentType == 0-->
                                    <i class="glyphicon glyphicon-arrow-left"></i>
                                <!--/ko-->
                                <!--ko ifnot: file.DocumentType == 0-->
                                    <i class="glyphicon glyphicon-arrow-right"></i>
                                <!--/ko-->
                                <span data-bind="text: file.DocumentType == null? 'Output' : Global.Helpers.GetEnumString(Dns.Enums.RequestDocumentTypeTranslation, file.DocumentType)"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </article>
            <br style="clear:both;" />
            <div data-bind="hidden: IsResponseLoadFailed">
                <article class="alert alert-info" data-bind="hidden:ResponseContentComplete" style="width:600px;margin:24px auto;text-align:center;">
                    <p>Loading Response Content...</p>
                </article>
                <article id="gResults"></article>
            </div>
        </div>

        <nav style="border-top:1px solid silver;padding-top:15px;" data-bind="visible:HasPermission(Permissions.Request.ApproveRejectResponse) && showApproveReject">
            <button class="btn btn-default pull-right" data-resultid="0FEE0001-ED08-48D8-8C0B-A3B600EEF30F" style="margin-right:15px;width:120px" data-bind="visible:HasPermission(Permissions.Request.ApproveRejectResponse) && showApproveReject, click:onApprove">Approve</button>
            <button class="btn btn-default pull-right" data-resultid="F1B10001-B0B3-45A9-AAFF-A3B600EEFC49" style="margin-right:15px;width:120px" data-bind="visible:HasPermission(Permissions.Request.ApproveRejectResponse) && showApproveReject, click:onReject">Reject</button>
            <button class="btn btn-default pull-right" style="margin-right:15px;width:120px" data-bind="visible:HasPermission(Permissions.Request.ApproveRejectResponse) && showApproveReject, click:onResubmit">Resubmit</button>
            <div class="clearfix"></div>
        </nav>
    </section>
</section>

<!-- /ko -->