@using Lpp.QueryComposer

<script type="text/html" id="Guid.Empty">
    <div class="row">
        <div class="col-sm-10"><h4 id="lblDataPartners" class="TermHeader bold">Height Distribution</h4></div>
        <div class="col-sm-2">
            <button id="btnHeightDistributionField" class="btn btn-danger" data-bind="click: $component.onDeleteField.bind($component, $data, $parent)"><span class="glyphicon glyphicon-minus"></span> Remove</button>
        </div>
    </div>
</script>