<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="DataMartSampleRestServiceBehavior"
        name="Lpp.Dns.DataMart.Model.Rest.SampleModelProcessorRestService">
        <endpoint address="" behaviorConfiguration="DataMartSampleRestServiceWeb"
          binding="webHttpBinding" contract="Lpp.Dns.DataMart.Model.Rest.IModelProcessorRestService" />
      </service>
    </services>
    <bindings>
      <webHttpBinding>
        <binding name="webHttpBinding" maxReceivedMessageSize="67108864" transferMode="Streamed"/>
      </webHttpBinding>        
    </bindings>      
    <behaviors>
      <serviceBehaviors>
        <behavior name="DataMartSampleRestServiceBehavior">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="DataMartSampleRestServiceWeb">
          <webHttp/>          
        </behavior>        
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>
