@{
    Layout = "~/Views/_Layout.cshtml";
    ViewBag.Title = "QLik Tests";
}

<section id="ContentWrapper">
    <a href="/qliktest/requests">Requests - iframe embedded</a><br/>
    <a href="/qliktest/divintegration">Requests - div integration</a>
</section>
