@using Lpp.QueryComposer
<script type="text/html" id="sv_@ModelTermsFactory.CombinedDiagnosisCodesID">
    <div class="row">
        <div class="col-sm-12 bold">Diagnosis Codes</div>
    </div>
</script>