@using Lpp.QueryComposer

<script type="text/html" id="e_@ModelTermsFactory.RaceID">
    <p class="bold center operator" data-bind="text:Global.Helpers.GetEnumString(Dns.Enums.QueryComposerOperatorsTranslation, Operator()), visible:$index() > 0"></p>
    <div class="row row-noborder">
        <div class="col-sm-4 bold"><h4 id="lblRace" class="TermHeader bold">Race<em data-bind="visible:Design.Locked" style="color:red">*</em></h4></div>
        <div class="col-sm-4 form-group" data-bind="foreach: Dns.Enums.RaceTranslation">
            <div class="checkbox">
                <input type="checkbox" data-bind="value: value, checked: $parent.Values().Race, attr: {id: 'chkRaces' + value}" />
                <label class="hover-ibeam" data-bind="text: Global.Helpers.GetEnumString(Dns.Enums.RaceTranslation, value), attr: {id: 'lblRaces' + value ,for: 'chkRaces' + value}"></label>
            </div>
        </div>
        <div class="col-sm-2" data-bind="visible: $root.IsTemplateEdit">
            <input type="checkbox" data-bind="checked: Design.Locked" />
            <span>Locked</span>
        </div>
        <div class="col-sm-2 form-group">
            <button id="btnDeleteRaceTerm" class="btn btn-danger pull-right" data-bind="click: function(data, event) { $root.DeleteTerm(data, $parent, event);}, visible: $root.IsTemplateEdit || !Design.Locked()"><span class="glyphicon glyphicon-minus"></span> Remove</button>
        </div>
    </div>
</script>