<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="4.3.1" />
  <package id="Ix_Experimental-Main" version="1.1.10823" />
  <package id="Moq" version="4.0.10827" />
  <package id="Rx-Main" version="1.0.11226" />
  <package id="xunit" version="1.9.0.1566" />
  <package id="xunit.extensions" version="1.9.0.1566" />
</packages>