
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/_DialogLayout.cshtml";
}

@section Head {
<script src="~/js/Users/ChangePassword.js"></script>
}

<form class="form">
    <fieldset>
        <div class="row">
            <div class="col-sm-6 form-group">
                <label for="txtPassword">New Password<em>*</em></label>
                <input type="password" id="txtPassword" maxlength="51" required class="form-control" title="Please enter a valid password" data-bind="value: Password, valueUpdate: 'input'" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 form-group">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped" role="progressbar" data-bind="style: {width: (PasswordScore() * 20) + '%'}, css: { 'progress-bar-danger': PasswordScore() <= 1, 'progress-bar-warning': PasswordScore() > 1 && PasswordScore() < 5, 'progress-bar-success': PasswordScore() == 5 }"></div>
                    <!-- Aria values were interfering with CSS: aria-valuenow="0" aria-valuemin="0" aria-valuemax="5" -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 form-group">
                <label for="txtConfirmPassword">New Password<em>*</em></label>
                <input type="password" id="txtConfirmPassword" maxlength="51" required class="form-control" title="Please enter a valid password" data-bind="value: ConfirmPassword, valueUpdate: 'input'" />
            </div>
        </div>
    </fieldset>
</form>
<nav class="footer">
    <button id="btnSave" class="btn btn-success btn-sm" data-bind="click: Save"><img src="@this.ResourceUrl("/images/Save24.png")" alt="Save" />Save</button>
    <button id="btnCancel" class="btn btn-warning btn-sm" data-bind="click: Cancel"><img src="@this.ResourceUrl("/images/Cancel24.png")" alt="Cancel" />Cancel</button>
</nav>