@{
    Layout = "~/Views/_DialogLayout.cshtml";
}
@section Head{
    <script src="/areas/workflow/js/requests/modularprogram/responsedetails.js"></script>
    <style>
        #Content {
            margin-bottom:0px !important;
        }
    </style>
}

<section id="ModularProgramResponseDetail" style="margin-top:15px;">
    <article class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">Response Documents</h4>
        </div>
        <div class="panel-body" style="height:315px;overflow:auto" data-bind="foreach: {data:Routings, as: 'datamart' }">
            <h5 data-bind="text:DataMart"></h5>
            <div id="gDocuments" data-bind="pmnGrid: {
                dataSource: $root.DataSource,
                filterable: false,
                reorderable: false,
                selectable:'row',
                scrollable: true,
                pageable: false,
                change: $root.onRowSelectionChange,
                groupable: false,
                detailInit: $root.onDetailInit,
                columnMenu: { columns: true },
                columns: [
                    {field: 'FormattedDocumentName()', title: 'Name', encoded:false },
                    {field: 'Description()', title: 'Description', hidden:false },
                    {field: 'FormattedLength()', title: 'Size', attributes: { style: 'text-align:right;' }, width:95, headerAttributes: { style: 'text-align:center;' } },
                    {field: 'FormattedCreatedOn()', title: 'Date', width:155 },
                    {field: 'FormattedUploadedBy()', title: 'UploadedBy', hidden:false },
                    {field: 'Version()', title: 'Version', hidden:true, width:95 },
                    {field: 'ID', title: 'Revision Set', hidden:true }
                ]
            }">
            </div>
        </div>
    </article>
    <nav>
        <button id="btnClose" class="btn btn-default pull-right" data-bind="click:Close">Close</button>
    </nav>
</section>
