
@{
    ViewBag.Title = "SessionExpiring";
    Layout = "~/Views/_DialogLayout.cshtml";
}
@section Head{
    <script src="~/js/dialogs/SessionExpiring.js"></script>
}


<section id="SessionExpiringSection">
    <div>
        <div>
            Your current session is expiring in <span data-bind="text: CountDown"></span>.  If you wish to continue your session, please press the <b>Refresh Session</b> button below.
        </div>
        <div style="text-align: center; margin-top:25px;">
            <button data-bind="click:RefreshSession" class="btn btn-default" id="btnOK">Refresh Session</button>
        </div>
    </div>
</section>
