<?xml version="1.0"?>
<connectionStrings>
    <add name="DataContext" connectionString="Server=localhost;Database=WBD;Persist Security Info=True;Integrated Security=True;MultipleActiveResultSets=True; Asynchronous Processing=true;Max Pool Size=700" providerName="System.Data.SqlClient" />
	<add name="DemonstrationQueryTool" connectionString="Driver={Microsoft Access Driver (*.mdb)};Dbq={full path to this file}\Demonstration Query Tool.mdb;"  providerName="System.Data.Odbc"/>
</connectionStrings>