@using Lpp.QueryComposer
<script type="text/html" id="sv_@ModelTermsFactory.HeightID">
    <div class="row">
        <div class="col-sm-2 bold">Height Range</div>
        <div class="col-sm-4">
            Stratify By:&nbsp;<span data-bind="text: Global.Helpers.GetEnumString(Dns.Enums.HeightStratificationTranslation, StratifyBy())"></span>
        </div>
        @*<div class="col-sm-4">            
            Aggregate:&nbsp;<span data-bind="text: Global.Helpers.GetEnumString(Dns.Enums.QueryComposerAggregatesTranslation, Aggregate())"></span>
        </div>*@
    </div>
</script>