<script src="/Areas/QueryComposer/js/DataMartRouting.js"></script>
<article class="panel panel-default" data-bind="css: {visible: true}">
    <div class="panel-heading">
        <h3>Selected DataMarts: <small><span class="glyphicon glyphicon-question-sign" title="Results are stratified according to the criteria in the Primary Criteria Group. If no option is selected, a single patient count will be returned." data-html="true"></span></small></h3>
    </div>
    <div class="panel-body">
        <div class="row" style="margin:3px;">
            <article class="Request-Footer-DataMarts" id="RequestDataMarts">
                @*<input type="hidden" name="SelectedDataMartIDs" id="SelectedDataMartIDs" data-bind="value: SelectedDataMartIDs" />*@
                <div id="gDataMarts" style="padding: 0; overflow-y: auto; min-height: 250px; max-height: 920px " data-bind="kendoGrid: {
                data: DataMarts,
                sortable: false,
                filterable: false,
                reorderable: false,
                columnMenu: false,
                pageable: false,
                scrollable: false,
                rowTemplate: 'dataMartsRowTmpl',
                altRowTemplate: 'dataMartsAltRowTmpl',
                useKOTemplates: true,
                columns:[
                    {field: 'DataMartID', title: ' ', width:35 },
                    {field: 'Name', title: 'Name'},
                    {field: 'Organization', title:'Organization'},
                    {field: 'Priority', title: 'Priority'},
                    {field: 'DueDate', title: 'Due Date'}
                    ]
            }">
                </div>
                <div style="margin-top: 5px;">
                    <button role="button" id="btnDataMartsSelectAll" data-bind="click: $root.DataMartsSelectAll, clickBubble:false" class="btn btn-primary">Select All</button>
                    <button role="button" id="btnDataMartsClearAll" data-bind="click: $root.DataMartsClearAll, clickBubble:false" class="btn btn-primary">Clear All</button>
                    <button id="btnBulkEdit" data-bind="click: $root.DataMartsBulkEdit, enable: $root.SelectedDataMartIDs().length > 0, clickBubble:false" class="btn btn-primary pull-right">Bulk Edit</button>
                </div>
            </article>
        </div>
        <br />
        <div data-bind="visible: $root.IsFieldVisible('Request-Additional-Instructions')" class="Row" style="margin:3px;">
            <label for="AdditionalInstructions">Additional Instructions <em data-bind="visible: $root.IsFieldRequired('Request-Additional-Instructions')" , style="color:red;">* </em></label>
            <textarea name="DataMartsAdditionalInstructions" id="DataMarts_AdditionalInstructions" rows="3" class="form-control" maxlength="3000" style="margin-right:10px;" data-bind="attr:{required: $root.IsFieldRequired('Request-Additional-Instructions')}, value: $root.DataMartAdditionalInstructions"></textarea>
        </div>
    </div>
</article>

<script id="dataMartsRowTmpl" type="text/html">
    <tr role="row">
        <td><input type="checkbox" data-bind="value:DataMartID, checked: $root.SelectedDataMartIDs" /></td>
        <td data-bind="text: Name"></td>
        <td data-bind="text: Organization"></td>
        <td><input id="Priority" type="text" data-bind="kendoDropDownList: {value: Priority, data: Dns.Enums.PrioritiesTranslation, dataTextField: 'text', dataValueField: 'value'}"></td>
        <td><input id="DueDate" type="text" data-bind="kendoDatePicker: DueDate"></td>
    </tr>
</script>
<script id="dataMartsAltRowTmpl" type="text/html">
    <tr role="row" class="k-alt">
        <td><input type="checkbox" data-bind="value:DataMartID, checked: $root.SelectedDataMartIDs" /></td>
        <td data-bind="text: Name"></td>
        <td data-bind="text: Organization"></td>
        <td><input id="Priority" type="text" data-bind="kendoDropDownList: {value: Priority, data: Dns.Enums.PrioritiesTranslation, dataTextField: 'text', dataValueField: 'value'}"></td>
        <td><input id="DueDate" type="text" data-bind="kendoDatePicker: DueDate"></td>
    </tr>
</script>