@using Lpp.QueryComposer
<script type="text/html" id="sv_@ModelTermsFactory.YearID">
    <div class="row">
        <div class="col-sm-4 bold">Year</div>
        <div class="col-sm-4">
            Stratify By:&nbsp;<span data-bind="text: Global.Helpers.GetEnumString(Dns.Enums.PeriodStratificationTranslation, StratifyBy)"></span>
        </div>
    </div>
</script>