<?xml version="1.0"?>
<connectionStrings>
    <add name="DataContext" connectionString="Data Source=localhost;Initial Catalog={database name};Integrated Security=True;Persist Security Info=True;MultipleActiveResultSets=True; Asynchronous Processing=true;Max Pool Size=700" providerName="System.Data.SqlClient" />
</connectionStrings>