<?xml version="1.0"?>
<connectionStrings>
    <add name="DataContext" connectionString="Data Source=localhost;Initial Catalog=PMNDev;Persist Security Info=True;User ID=sa;Password=Password1!;MultipleActiveResultSets=True; Asynchronous Processing=true;Max Pool Size=700" providerName="System.Data.SqlClient" />
    <add name="Lpp.Dns.Model.DnsDomain" connectionString="Data Source=localhost;Initial Catalog=PMNDev;Persist Security Info=True;User ID=sa;Password=Password1!;MultipleActiveResultSets=True; Asynchronous Processing=true;Max Pool Size=700" providerName="System.Data.SqlClient" />
    <add name="Lpp.Dns.HealthCare.HealthCareDomain" connectionString="Data Source=localhost;Initial Catalog=PMNDev;Persist Security Info=True;User ID=sa;Password=Password1!;MultipleActiveResultSets=True; Asynchronous Processing=true;Max Pool Size=700" providerName="System.Data.SqlClient" />
    <add name="Lpp.Dns.HealthCare.Summary.SummaryDomain" connectionString="Data Source=localhost;Initial Catalog=PMNDev;Persist Security Info=True;User ID=sa;Password=Password1!;MultipleActiveResultSets=True; Asynchronous Processing=true;Max Pool Size=700" providerName="System.Data.SqlClient" />
    <add name="Lpp.Dns.RedirectBridge.RedirectDomain" connectionString="Data Source=localhost;Initial Catalog=PMNDev;Persist Security Info=True;User ID=sa;Password=Password1!;MultipleActiveResultSets=True; Asynchronous Processing=true;Max Pool Size=700" providerName="System.Data.SqlClient" />
    <add name="Lpp.Dns.HealthCare.ESPQueryBuilder.Data.ESPDomain" connectionString="Data Source=localhost;Initial Catalog=PMNDev;Persist Security Info=True;User ID=sa;Password=Password1!;MultipleActiveResultSets=True; Asynchronous Processing=true;Max Pool Size=700" providerName="System.Data.SqlClient" />
    <add name="Lpp.Dns.HealthCare.FileDistribution.Data.FileDistributionDomain" connectionString="Data Source=localhost;Initial Catalog=PMNDev;Persist Security Info=True;User ID=sa;Password=Password1!;MultipleActiveResultSets=True; Asynchronous Processing=true;Max Pool Size=700" providerName="System.Data.SqlClient" />
</connectionStrings>