<!-- ko: stopBinding:true-->
<section id="CommonSubmitFinalReport" style="margin-top:15px;">
    <div data-bind="visible:HasPermission(Permissions.ProjectRequestTypeWorkflowActivities.EditTask)">
    <!-- ko stopBinding: true -->
    <article id="finalreportupload">        
        @Html.Partial("~/areas/controls/views/wffileupload/fortask.cshtml")
    </article>
    <!-- /ko-->
    </div>
    <div data-bind="visible:HasPermission(Permissions.ProjectRequestTypeWorkflowActivities.EditTask) == false">
        <p class="alert alert-info" style="width:75%;margin:auto;">
            <strong>Permission Required!</strong><br/>
            You do not have permission to edit this task, please let your Administrator know if you feel you should have permission.
        </p>
    </div>
    <nav>
        <button class="btn btn-primary pull-right" data-bind="click:onReviewFinalReport, visible:HasPermission(Permissions.ProjectRequestTypeWorkflowActivities.CloseTask)">Submit for Final Report Review</button>      
        <button class="btn btn-primary pull-right" data-resultid="E93CED3B-4B55-4991-AF84-07058ABE315C" data-bind="visible:HasPermission(Permissions.ProjectRequestTypeWorkflowActivities.CloseTask),click:Complete" style="margin-right:15px;">Report Status: Not Applicable</button>
        <button class="btn btn-primary pull-right" data-bind="click:onModifyDraftReport, visible:HasPermission(Permissions.ProjectRequestTypeWorkflowActivities.CloseTask)" style="margin-right:15px;">Resubmit Draft Report</button>      
    </nav>
    <div class="clearfix"></div>
</section>
<!-- /ko -->
<script src="/areas/workflow/js/requests/common/submitfinalreport.js"></script>
