@model Lpp.Dns.HealthCare.I2B2.Models.I2B2Model
@{ this.Stylesheet( "I2B2.css" ); }

<div class="MedicalRequest ui-form">
    <div class="ui-form">

    <div class="ReportType">

        <div class="ui-groupbox">
            
        </div>

    </div>

    </div>
</div>