@{
    ViewBag.Title = "Details";
    Layout = "~/Views/_Layout.cshtml";
}

<section id="ContentWrapper">
    <iframe src='http://localhost:4848/single?appid=C%3A%5CUsers%5CDean%5CDocuments%5CQlik%5CSense%5CApps%5CPMN.qvf&obj=HpkEjZh&opt=currsel&select=clearall' style='border:none;width:100%;height:600px;'></iframe>
</section>

