@import "menu.css";
@import "ui.css";
@import "login.css";
html,
body {
  font-family: Calibri;
  font-size: 16px;
}
.Layout {
  width: 1050px;
  margin: 0 auto;
  border: 2px solid #487dba;
  background: #FFFFFF;
  color: #464646;
  text-align: left;
}
.Layout .Top {
  height: 48px;
  border-bottom: 2px solid #678FC0;
}
.Layout .Top .Logo {
  background-image: url('img/pmn-logo.png');
  margin: -1px -1px 0 -1px;
  background-position: left;
  background-repeat: no-repeat;
  display: inline-block;
  width: 153px;
  height: 50px;
  float: left;
}
.Layout .Top .Right {
  height: 48px;
}
.Layout .Top .Right .Header {
  height: 21px;
  border-bottom: 1px solid #678FC0;
  background: #e1ebfa;
  white-space: nowrap;
  padding: 1px 0 0 20px;
  font-weight: bold;
}
.Layout .Top .Right .Header.Anonymous {
  height: 32px;
  padding-top: 16px;
}
.Layout .Top .Right .Header > div {
  display: inline-block;
}
.Layout .Top .Right .Header .Title {
  font-size: 14px;
  font-weight: bold;
  padding-left: 30px;
}
.Layout .Top .Right .Header .Welcome {
  font-size: 14px;
  font-weight: normal;
  float: right;
  max-width: 250px;
  overflow: hidden;
  padding-right: 15px;
  padding-top: 2px;
}
.Layout .Top .Right #Menu > ul.Menu {
  padding-left: 15px;
}
.Layout .HeaderText {
  color: #464646;
  text-align: center;
  padding: 24px 30px;
  font-size: larger;
  font-weight: bolder;
}
.Layout .Middle .Content {
  min-height: 700px;
  width: 1040px;
  display: inline-block;
  vertical-align: top;
}
.Layout .Middle .Content .ui-section-outside {
  width: 1030px;
  border: 2px solid #678FC0;
  background: #E1EBFA;
  margin: 8px 8px;
}
.Layout .Middle .Content .ui-section {
  background: #E3E6EB;
}
.Layout .Middle .Content .Grid.Notifications {
  width: 100%;
}
.Layout .Middle .Content .Grid.Notifications .Time {
  width: 160px;
}
.Layout .Middle .Content .Grid.Notifications .Kind {
  width: 260px;
}
.Layout .Buttons {
  text-align: right;
  margin: 7px;
}
.Layout .FooterText {
  color: #464646;
  text-align: center;
  margin: 0 20px;
  padding: 4px 10px;
  border-top: 2px dotted #335a8c;
}
.Layout .Bottom {
  background: #e1ebfa;
  height: 18px;
  color: #464646;
  padding-left: 10px;
  border-top: 2px solid #678FC0;
  padding-top: 1px;
}
.Layout .Bottom .Version {
  float: left;
  font-size: 14px;
}
.Layout .Bottom .Copyright {
  text-align: center;
  font-size: 14px;
}
.Layout .Bottom .Terms,
.Layout .Bottom .Info {
  float: left;
  font-size: 14px;
  padding-left: 0.3em;
}
.Layout .Bottom .Terms .Full,
.Layout .Bottom .Info .Full {
  display: none;
  max-height: 400px;
  overflow-y: scroll;
}
.Layout .Bottom .Logo {
  float: right;
  background: url('img/lpp-logo.png');
  background-repeat: no-repeat;
  background-position: right;
  width: 272px;
  height: 21px;
  margin-top: -2px;
  margin-right: -1px;
}
.ui-dialog .Grid {
  width: 100%;
}
.ui-dialog .Grid.Subjects {
  width: auto;
}
.BodyLoadingOverlay {
  z-index: 500;
  filter: alpha(opacity=10);
  -moz-opacity: 0.1;
  opacity: 0.1;
  background: silver;
  position: absolute;
}
.BodyLoadingSign {
  z-index: 999;
  background: url('img/loading-large.gif');
  background-position: center top;
  background-repeat: no-repeat;
  height: 100px;
  min-height: 100px;
  width: 100px;
  min-width: 100px;
  position: absolute;
}
.ui-draggable-dragging {
  border: 1px solid black;
  background: white;
  padding: 0.3em 0.5em;
  -moz-box-shadow: 2px 2px 5px 1px silver;
  -webkit-box-shadow: 2px 2px 5px 1px silver;
  box-shadow: 2px 2px 5px 1px silver;
}
/*# sourceMappingURL=Layout.css.map */