@using Lpp.QueryComposer
<script type="text/html" id="s_@ModelTermsFactory.DispensingMetricID">
    <div class="row">
        <div class="col-sm-2"><h4 id="lblMetric" class="TermHeader" style="font-weight:bold;"> Dispensing Metric Type:</h4></div>
        <div class="col-sm-4 form-group">
            &nbsp;
        </div>
        <div class="col-sm-4 form-group">
        </div>
        <div class="col-sm-2">
            <button id="btnDeleteMetricField" class="btn btn-danger" data-bind="click: function(data, event) { $root.DeleteField(data, $parent, event);}"><span class="glyphicon glyphicon-minus"></span> Remove</button>
        </div>
    </div>
</script>