@using Lpp.QueryComposer
<script type="text/html" id="v_@ModelTermsFactory.DispensingMetricID">
    <p class="bold center operator" data-bind="text:Global.Helpers.GetEnumString(Dns.Enums.QueryComposerOperatorsTranslation, Operator()), visible:$index() > 0"></p> 
    <div class="row">
        <div class="col-sm-2 bold">Dispensing Metric:</div>
        <div class="col-sm-10" data-bind="text: Global.Helpers.GetEnumString(Dns.Enums.DispensingMetricTranslation, Values().Metric())"></div>
    </div>
</script>
