@using Lpp.QueryComposer
<script type="text/html" id="s_@ModelTermsFactory.ICD9DiagnosisCodes4digitID">
    <div class="row">
        <div class="col-sm-2"><h4 id="lblICD9DiagnosisCodes4digit" class="TermHeader" style="font-weight:bold;">ICD 9 Diagnosis (4 digit)</h4></div>
        <div class="col-sm-4 form-group">
            &nbsp;
        </div>
        <div class="col-sm-4 form-group">
        </div>
        <div class="col-sm-2">
            <button id="btnDeleteICD9Diagnosis4digitField" class="btn btn-danger" data-bind="click: function(data, event) { $root.DeleteField(data, $parent, event);}"><span class="glyphicon glyphicon-minus"></span> Remove</button>
        </div>
    </div>
</script>
