@model Lpp.Dns.HealthCare.SASDistribution.Code.Exceptions.InvalidDataSetException
@{ this.Stylesheet( "SASDistribution.css" ); }
<div class="Exception">
    <p class="Exception">@Model.Message</p>
</div>