<?xml version="1.0"?>
<connectionStrings>
  <!-- PCORNet -->
  <add name="PCORNET_SQLServer2014" connectionString="Server=localhost,1443;Database=PCORNET_4_1_UPDATE;User ID=**;Password=**;Asynchronous Processing=true;" providerName="System.Data.SqlClient"/>
  <add name="PCORNET_SQLServer2016" connectionString="Server=localhost,1453;Database=PCORNET_4_1_UPDATE;User ID=**;Password=**;Asynchronous Processing=true;" providerName="System.Data.SqlClient"/>
  <add name="PCORNET_PostgreSQL96" connectionString="Server=localhost;Port=5432;User ID=**;Password=**;Database=pcornet;Timeout=30;CommandTimeout=600" providerName="Npgsql"/>
  <add name="PCORNET_ORACLE12" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=XE)));User ID=**; Password=**;" providerName="OracleConnection"/>
</connectionStrings>
