@using Lpp.QueryComposer

<script type="text/html" id="sv_@ModelTermsFactory.DC_DataPartners">
    <div class="row">
        <div class="col-sm-2 bold">Data Partners</div>
        <div class="col-sm-4">
            &nbsp;
        </div>
        <div class="col-sm-4">
            &nbsp;
        </div>
    </div>
</script>