@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test Site</title>
    <link href="/content/themes/base/jquery.ui.all.css" rel="stylesheet" />
    <link href="/content/Layout.css" rel="stylesheet" />
    <link href="/content/forms.css" rel="stylesheet" />        
    <link href="/content/print.css" rel="stylesheet" media="print"/>
    <link href="/content/jquery.qtip.min.css" rel="stylesheet" />               

            <!--[if IE 8]>
        @*<script src="/scripts/a.ie8.js"></script>*@
        <script src="/scripts/respond.min.js"></script>
        <![endif]-->
        @*<script src="/scripts/a.js"></script>*@
        <script src="/scripts/es5-shim.min.js"></script>
        <script src="/scripts/es6-shim.js"></script>
        <script src="/scripts/modernizr-2.7.1.js"></script>
        <script src="/scripts/jquery-1.11.0.min.js"></script>
        <script src="/scripts/jquery-migrate-1.2.1.min.js"></script>
        <script src="/scripts/jquery-ui-1.10.4.min.js"></script>
        <script src="/scripts/qTip/jquery.qtip.min.js"></script>
        <script src="/scripts/moment.min.js"></script>
        <script src="/scripts/linq.min.js"></script>
        <script src="/scripts/linq.jquery.js"></script>
        <script src="/scripts/knockout-3.0.0.debug.js"></script>
        <script src="/scripts/knockout-jqueryui.min.js"></script>
        <script src="/scripts/knockout.mapping-latest.js"></script>
        <script src="/scripts/knockout.validation.debug.js"></script>
        <script src="/scripts/timepicker.js"></script>
        <script src="/scripts/jquery.form.min.js"></script>

        <script src="/scripts/Common.js"></script>

    @RenderSection("head", false)
</head>
<body>
    <div class="Layout">
        <div class="Middle" style="clear: both;">
            @RenderBody()
        </div>
    </div>
    @RenderSection("scripts", false)
</body>
</html>
