@using Lpp.QueryComposer

<script type="text/html" id="e_@ModelTermsFactory.DC_DiagnosisCodes">
    <p class="bold center operator" data-bind="text:Global.Helpers.GetEnumString(Dns.Enums.QueryComposerOperatorsTranslation, Operator()), visible:$index() > 0"></p>
    <div class="row row-noborder">
        <div class="col-sm-3 bold"><h4 id="lblICD9Diagnosis" class="TermHeader bold">Diagnosis Codes<em data-bind="visible:Design.Locked" style="color:red">*</em></h4></div>
        <div class="col-sm-7 form-group">
            <label style="display:inline;">Code Set:</label>
            <div style="display:inline;"
                    data-bind="kendoDropDownList: { value: Values().CodeType,
                                                        dataSource: Plugins.Requests.QueryBuilder.MDQ.Terms.DataCheckerDiagnosisCodeTypes,
                                                        dataTextField: 'text',
                                                        dataValueField: 'value'},
                                attr:{
                                    required: $component.Options.IsTemplateEdit == false,
                                    name: 'CodeSet_' + $index()
                                }"
                    validationmessage="Code set is required.">
            </div>
        </div>
        <div class="col-sm-2 form-group">
            <button id="btnDeleteDC_DiagnosisCodesTerm" class="btn btn-danger pull-right" data-bind="click: $component.onDeleteTermFromCriteria.bind($component, $data, $parent), visible: $component.Options.IsTemplateEdit || !Design.Locked()"><span class="glyphicon glyphicon-minus"></span> Remove</button>
            <label class="design-lock" data-bind="visible: $component.Options.IsTemplateEdit"><input type="checkbox" data-bind="checked: Design.Locked" /> Locked</label>
        </div>
    </div>
    <div class="row row-noborder">
        <div class="col-sm-12 form-group">
            <label for="txtDC_DiagnosisCodes">Selected Codes:</label>
            <textarea name="txtDC_DiagnosisCodes" class="form-control" rows="3" data-bind="value:Values().CodeValues, attr:{ required: $component.Options.IsTemplateEdit == false }" validationmessage="Code values are required" title="&bull; separate multiple codes using a comma." />
            <div>
                <label class="radio-inline">
                    <input type="radio" name="diagnosiscodes_searchtype" data-bind="value: Dns.Enums.TextSearchMethodType.ExactMatch, checked:Values().SearchMethodType, attr:{ required: $component.Options.IsTemplateEdit == false}" validationmessage="Select a search method type." /> Exact Match
                </label>
                &nbsp;
                <label class="radio-inline">
                    <input type="radio" name="diagnosiscodes_searchtype" data-bind="value: Dns.Enums.TextSearchMethodType.StartsWith, checked:Values().SearchMethodType" /> Starts With
                </label>
                <span class="help-block">&bull; separate multiple codes using a comma.</span>
            </div>

        </div>
    </div>
</script>