@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_DialogLayout.cshtml";
}

@section Scripts {
<script type="module" src="@Url.Content("~/js/Home/ForgotPassword.js")"></script>
}
<p><strong>INSTRUCTIONS:</strong> Please enter your Username or Email. A new password will be sent to your registered email on clicking "Submit".</p>
<form role="form">
    <fieldset>
        <div class="row">
            <div class="col-sm-6 form-group">
                <label for="txtUserName">User Name</label>
                <input type="text" id="txtUserName" name="username" class="form-control" data-bind="value: UserName" autocomplete="off" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 form-group">
                <strong>OR</strong>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 form-group">
                <label for="txtEmail">Email</label>
                <input type="email" id="txtEmail" class="form-control" name="email" data-bind="value: Email" autocomplete="off" />
            </div>
        </div>
    </fieldset>
</form>
<nav class="footer">
    <button id="btnSubmit" class="btn btn-success btn-sm" data-bind="click: Save.bind($root), enabled: Email() !='' || UserName() != ''"><img src="@Url.Content("~/images/Save24.png")" alt="Submit" />Submit</button>
    <button id="btnCancel" class="btn btn-warning btn-sm" data-bind="click: Cancel"><img src="@Url.Content("~/images/Cancel24.png")" alt="Cancel" />Cancel</button>
</nav>
