<article class="panel panel-default" style="opacity: 1;">
    <div class="panel-heading">
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="/resources">Resources</a></li>
        </ol>
    </div>
    <div class="panel-body">
        <fieldset id="contactInfoPanel">
            <legend>Contact Information</legend>
            
            <div data-bind="html: ResourceHeader.resources">

            </div>
        </fieldset>
        <fieldset>
            <legend>Downloads</legend>
            <div class="row">
                <div class="col-sm-4 form-group"><a href="/DataMartClient/setup.msi" class="nav-download">Download the DataMart client</a></div>
                <div class="col-sm-8 form-group">
                    <p class="form-control-static">This link will download and install the DataMart client for your computer. Only use this if you are tasked with responding to requests from this portal.</p>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Documentation</legend>
            <div class="row">
                <div class="col-sm-4 form-group"><a href="https://popmednet.atlassian.net/wiki/display/DOC/PopMedNet+User%27s+Guide" target="_blank">PopMedNet User’s Guide</a></div>
                <div class="col-sm-8 form-group">A guide for users that describes the main features and functions of the PopMedNet Query Tool software.</div>
            </div>
            <div class="row">
                <div class="col-sm-4 form-group"><a href="https://popmednet.atlassian.net/wiki/display/DOC/PopMedNet+System+Administrator%27s+Guide" target="_blank">PopMedNet System Administrator’s Guide</a></div>
                <div class="col-sm-8 form-group">A guide for network administrators that describes the system architecture, the technical and security approaches implemented, and instructions for managing a network.</div>
            </div>
            <div class="row">
                <div class="col-sm-4 form-group"><a href="https://popmednet.atlassian.net/wiki/display/DOC/Data+Models" target="_blank">Data Model Documentation</a></div>
                <div class="col-sm-8 form-group">A description of the data models and data informatics frameworks referenced or used in PopMedNet.</div>
            </div>
            <div class="row">
                <div class="col-sm-4 form-group"><a href="https://popmednet.atlassian.net/wiki/display/KB/Help+and+Support" target="_blank">Help and Support Articles</a></div>
                <div class="col-sm-8 form-group">Answers and solutions to common PopMedNet questions.</div>
            </div>
            <div class="row">
                <div class="col-sm-4 form-group"><a href="https://popmednet.atlassian.net/wiki/display/DOC/Release+Notes" target="_blank">Release Notes</a></div>
                <div class="col-sm-8 form-group">Changes and enhancements made in each version of the PopMedNet software.</div>
            </div>
        </fieldset>
        <fieldset>
            <legend>DataMart</legend>
            <div class="row">
                <div class="col-sm-4 form-group"><a href="@Url.Content("~/request/metadatalist")" class="nav-download">Query Types by DataMart - Time Period Availability</a></div>
                <div class="col-sm-8 form-group">This table contains information on supported query types for DataMarts within the network.</div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Related Links</legend>
            <div class="row">
                <div class="col-sm-4 form-group"><a href="http://popmednet.org" target="_blank">PopMedNet.org</a></div>
                <div class="col-sm-8 form-group">The PopMedNet™ software application enables simple creation, operation, and governance of distributed health data networks. It facilitates distributed analyses of electronic health data to support medical product safety, comparative effectiveness, quality, medical resource use, cost-effectiveness, and related studies</div>
            </div>
            <div class="row">
                <div class="col-sm-4 form-group"><a href="http://popmednet.atlassian.net/wiki" target="_blank">PopMedNet Community Wiki</a></div>
                <div class="col-sm-8 form-group">Connect to the PopMedNet community of users, developers, and network administrators. Community members may contribute code, find helpful documentation, and learn how others are using the tool.</div>
            </div>
            <div class="row">
                <div class="col-sm-4 form-group"><a href="http://popmednet.atlassian.net" target="_blank">PopMedNet Issue Tracker</a></div>
                <div class="col-sm-8 form-group">Report bugs and submit feedback and ideas for new features or enhancements to the PopMedNet software.</div>
            </div>
            <div class="row">
                <div class="col-sm-4 form-group"><a href="http://youtube.com/user/LincolnPeakPopMedNet" target="_blank">PopMedNet YouTube Channel</a></div>
                <div class="col-sm-8 form-group">View video demonstrations of the PopMedNet™ software.</div>
            </div>
        </fieldset>
    </div>
</article>
@section Scripts{
    <script type="module" src="@Url.Content("~/js/home/resources.js")"></script>
}
