<?xml version="1.0"?>
<connectionStrings>
  <!-- PMN local dev -->
  <add name="DataContext" connectionString="Server=localhost;Database=DNS3_52;Integrated Security=True;MultipleActiveResultSets=True; Asynchronous Processing=true;Max Pool Size=700" providerName="System.Data.SqlClient" />
  <add name="SummaryQuery" connectionString="Server=localhost;Database=SummaryQuery;Integrated Security=True;MultipleActiveResultSets=True; Asynchronous Processing=true;Max Pool Size=700" providerName="System.Data.SqlClient"/>
  <add name="PCORNET" connectionString="Server=localhost;Database=PCORNET;Integrated Security=True;MultipleActiveResultSets=True; Asynchronous Processing=true;Max Pool Size=700" providerName="System.Data.SqlClient"/>
  <add name="DataChecker" connectionString="Server=localhost;Database=DataChecker;Integrated Security=True;MultipleActiveResultSets=True; Asynchronous Processing=true;Max Pool Size=700" providerName="System.Data.SqlClient"/>
  <!-- PostgreSQL connection strings -->
  <add name="ESP" connectionString="Server=localhost;Port=5432;User ID=esp_mdphnet;Password=esp_mdphnet;Database=esp;Timeout=30;CommandTimeout=600" providerName="Npgsql"/>
  <add name="PCORNET_PostgreSQL" connectionString="Server=localhost;Port=5432;User ID=pcornet;Password=pcornet;Database=pcornet;Timeout=30;CommandTimeout=600" providerName="Npgsql"/>
  <!-- MySQL connection strings -->
  <add name="PCORNET_MySQL" connectionString="Server=localhost;Port=3306;Database=dbo;User ID=pcornetv3;Password=password;" providerName="MySql.Data.MySqlClient"/>
  <!-- ORACLE SQL connection strings -->
  <add name="PCORNET_ORACLE" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.28.119.205)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=orcl.LincolnPeak.local)));User ID=SYSTEM; Password=Lpp515260;" providerName="OracleConnection"/>
</connectionStrings>
