@using Lpp.QueryComposer

<script type="text/html" id="v_@ModelTermsFactory.DC_DispensingRXAmount">
    <br />
    <span class="bold center" style="margin-left:45%;" data-bind="visible:$index() > 0">And</span>
    <div class="row">
        <div class="col-sm-2 bold">Dispensing RX Amount:</div>
        <div class="col-sm-10">
            <span data-bind="foreach:Values.RXAmounts">
                <span data-bind="visible: $index() > 0">or</span>
                <span data-bind="visible: $data == 0, text: '<0'"></span>
                <span data-bind="visible: $data == 1, text: '1-2'"></span>
                <span data-bind="visible: $data == 2, text: '2-30'"></span>
                <span data-bind="visible: $data == 3, text: '31-60'"></span>
                <span data-bind="visible: $data == 4, text: '61-90'"></span>
                <span data-bind="visible: $data == 5, text: '91-120'"></span>
                <span data-bind="visible: $data == 6, text: '121-180'"></span>
                <span data-bind="visible: $data == 7, text: '>180'"></span>
                <span data-bind="visible: $data == 8, text: 'Missing'"></span>
            </span>
            <span data-bind="visible: Values.RXAmounts.length == 0">&lt;None Selected&gt;</span>
        </div>
    </div>
</script>
