
@{
    ViewBag.Title = "Request Types";
    Layout = "~/Views/_Layout.cshtml";
}

@section Head{
    <script src="~/js/RequestType/Index.js"></script>
}

<article class="panel panel-default" data-bind="css: {visible: true}">
    <div class="panel-heading">
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="/RequestType">Request Types</a></li>
        </ol>
    </div>
    <div class="panel-body">
        <div id="gRequestTypes" style="min-height: 400px;" data-bind="kendoGrid: {
            data: ds,
            sortable: true,
            filterable: true,
            resizable: true,
            reorderable: true,
            columnMenu: { columns: true },
            columnMenuInit: $root.onColumnMenuInit,
            scrollable: false,
            pageable: false,
            columns: [
                {field: 'Name', title: 'Name', template: RequestType.Index.NameAchor},
                {field: 'Template', title: 'Template'},
                {field: 'Workflow', title: 'Work Flow'}
            ]
             }">
        </div>
    </div>
    <nav class="panel-footer right">
        <button class="btn btn-default" id="btnNewRequestType" data-bind="click: onNewRequestType, visible: HasPermission(Permissions.Portal.CreateRequestType)"><img src="@this.ResourceUrl("/images/Add16.png")" alt="Add Template" />Add Request Type</button>
    </nav>
</article>