@using Lpp.QueryComposer
<script type="text/html" id="sv_@ModelTermsFactory.SexID">
    <div class="row">
        <div class="col-sm-2 bold">Sex</div>
        <div class="col-sm-10">
            @*Stratify By:&nbsp;<span data-bind="text: Global.Helpers.GetEnumString(Dns.Enums.SexStratificationsTranslation, StratifyBy())"></span>*@
        </div>
    </div>
</script>