
@{
    ViewBag.Title = "Project List";
    Layout = "~/Views/_Layout.cshtml";
}
@section Head {
<script src="~/js/Projects/Index.js"></script>
}

<article class="panel panel-default" data-bind="css: {visible: true}">
    <div class="panel-heading">
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="/projects">Projects</a></li>
        </ol>
    </div>
    <div class="panel-body">
        <p class="alert alert-info">
            This list contains all projects that you have permission to view. To view the details of a project click on its name in the list below.
        </p>

        <div id="gProjects" style="min-height: 400px;" data-bind="kendoGrid: {
            data: ds,
            sortable: true,
            filterable: true,
            resizable: true,
            reorderable: true,
            columnMenu: { columns: true },
            columnMenuInit: $root.onColumnMenuInit,
            scrollable: false,
            pageable: false,
            columns: [
                {field: 'Name', title: 'Name', template: Projects.Index.NameAnchor},
                {field: 'Group', title: 'Group', template: Projects.Index.GroupAnchor},
                {field: 'Description', title: 'Description'}
            ]
            }">
        </div>
    </div>
    <nav class="panel-footer right">
        <button class="btn btn-default btn-sm" id="btnNewProject" data-bind="click: btnNewProject_Click, visible: HasPermission(Permissions.Group.CreateProject)"><img src="@this.ResourceUrl("/images/Add16.png")" alt="Add Project" />Add Project</button>
    </nav>
</article>
