@using Lpp.QueryComposer

<script type="text/html" id="e_@ModelTermsFactory.DC_MetadataCompleteness">
    <p class="bold center operator" data-bind="text:Global.Helpers.GetEnumString(Dns.Enums.QueryComposerOperatorsTranslation, Operator()), visible:$index() > 0"></p>
    <div class="row">
        <div class="col-sm-4 bold"><h4 id="MetadataCompleteness" class="TermHeader bold">Metadata Completeness<em data-bind="visible:Design.Locked" style="color:red">*</em></h4></div>
        <div class="col-sm-4 form-group">
            <div class="checkbox">
                <input type="checkbox" data-bind="checked: Values().MetadataCompletenesses" value="0" id="Diagnosis" />
                <label class="hover-ibeam" for="Diagnosis">Diagnosis</label>
            </div>
            <div class="checkbox">
                <input type="checkbox" data-bind="checked: Values().MetadataCompletenesses" value="1" id="Dispensing" />
                <label class="hover-ibeam" for="Dispensing">Dispensing</label>
            </div>
            <div class="checkbox">
                <input type="checkbox" data-bind="checked: Values().MetadataCompletenesses" value="2" id="Encounter" />
                <label class="hover-ibeam" for="Encounter">Encounter</label>
            </div>
            <div class="checkbox">
                <input type="checkbox" data-bind="checked: Values().MetadataCompletenesses" value="3" id="Enrollment" />
                <label class="hover-ibeam" for="Enrollment">Enrollment</label>
            </div>
            <div class="checkbox">
                <input type="checkbox" data-bind="checked: Values().MetadataCompletenesses" value="4" id="Procedure" />
                <label class="hover-ibeam" for="Procedure">Procedure</label>
            </div>
        </div>
        <div class="col-sm-2" data-bind="visible: $root.IsTemplateEdit">
            <input type="checkbox" data-bind="checked: Design.Locked" />
            <span>Locked</span>
        </div>
        <div class="col-sm-2 form-group">
            <button id="btnDeleteMetadataCompletenessTerm" class="btn btn-danger pull-right" data-bind="click: function(data, event) { $root.DeleteTerm(data, $parent, event);}, visible: $root.IsTemplateEdit || !Design.Locked()"><span class="glyphicon glyphicon-minus"></span> Remove</button>
        </div>
    </div>
</script>