@using Lpp.QueryComposer
<script type="text/html" id="sv_@ModelTermsFactory.PatientReportedOutcomeEncounterID">
    <div class="row">
		<div class="col-sm-12 bold">Patient Reported Outcome Encounters</div>
    </div>
</script>