<?xml version="1.0"?>
<connectionStrings>
    <!--<add name="DataContext" connectionString="Server=10.28.119.204;Database=dns3_QA_STARTER;User ID=DNS3_User;Password=3edc$RFV;MultipleActiveResultSets=True; Asynchronous Processing=true;Max Pool Size=700" providerName="System.Data.SqlClient" />-->
    <add name="DataContext" connectionString="Server=localhost;Database=DNS3;Persist Security Info=True;Integrated Security=True;MultipleActiveResultSets=True; Asynchronous Processing=true;Max Pool Size=700" providerName="System.Data.SqlClient" />
</connectionStrings>
