@{
    Layout = null;
}
<div class="alert alert-info">
    <p class="text-center">Select a template to see a preview of the email.</p>
    <p class="text-center"><em>Clicking on OK after selecting a template will send the email to the user.</em></p>
</div>
