<script src="/areas/workflow/js/requests/modularprogram/predistributiontesting.js"></script>
<!-- ko stopBinding: true -->
<section id="MPPreDistributionTesting" style="margin-top:15px;">
    <div data-bind="visible:HasPermission(Permissions.ProjectRequestTypeWorkflowActivities.EditTask)">
        <!-- ko stopBinding: true -->
        <article id="mp_predist_upload">
            @Html.Partial("~/areas/controls/views/wffileupload/fortask.cshtml")
        </article>
        <!-- /ko-->
    </div>
    <nav>
        <button class="btn btn-primary pull-right" data-bind="visible:HasPermission(Permissions.ProjectRequestTypeWorkflowActivities.CloseTask),click:onPreDistibutionTestingReview">Submit for Pre-Distribution Testing Review</button>
        <button class="btn btn-primary pull-right" style="margin-right:15px;" data-bind="visible:HasPermission(Permissions.ProjectRequestTypeWorkflowActivities.CloseTask),click:onEditWorkingSpecification">Modify Working Specifications</button>        
        <button class="btn btn-primary pull-right" style="margin-right:15px;width:115px;" data-bind="visible:HasPermission(Permissions.ProjectRequestTypeWorkflowActivities.EditTask),click:onSave">Save</button>
        <div class="clearfix"></div>
    </nav>
</section>
<!-- /ko -->