<script src="/areas/workflow/js/requests/modularprogram/predistributiontestingreview.js"></script>
<!-- ko stopBinding:true -->
<section id="MPReviewPreDistributionTesting" style="margin-top:15px;">
    <article class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">Pre-Distribution Review</h4>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-bordered" style="width: 100%;">
                <colgroup>
                    <col style="width: 60%; vertical-align: middle;" />
                    <col style="width: 90px; vertical-align: middle;" />
                </colgroup>
                <thead>
                    <tr>
                        <th class="bold">File Name</th>
                        <th class="bold" style="text-align:center;">Size</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: { data:Documents, as:'file'}">
                    <tr>
                        <td><a data-bind="text:file.FileName, attr:{ href: Controls.WFDocuments.List.Utils.buildDownloadUrl(file.ID, file.FileName) }"></a></td>
                        <td data-bind="text:Global.Helpers.formatFileSize(file.Length)" style="text-align:right;"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </article>
    <nav>
        <button class="btn btn-primary pull-right" style="width:115px;" data-resultid="71AC013A-CE8E-419E-A1F0-67BD3B0777EF" data-bind="visible:HasPermission(PMNPermissions.ProjectRequestTypeWorkflowActivities.CloseTask),click:Complete">Approve</button>
        <button class="btn btn-primary pull-right" style="width:115px;margin-right: 15px;" data-resultid="C3AE5DF8-DD50-4587-91E1-DD769237F34B" data-bind="visible:HasPermission(PMNPermissions.ProjectRequestTypeWorkflowActivities.CloseTask),click:Complete">Reject</button>        
    </nav>
</section>
<!-- /ko -->