
<script src="/areas/workflow/js/requests/modularprogram/completed.js"></script>


<!-- ko stopBinding: true -->
<section id="CompletedDetail" style="margin-top:15px;display:none;" data-bind="visible:true;"></section>
<!-- /ko -->
