<section class="panel panel-default tabPanel" data-bind="visible: HasPermission(PMNPermissions.ProjectRequestTypeWorkflowActivities.ViewDocuments)">
				<div class="panel-heading">
						Documents
				</div>
    <style>
        .k-state-selected a {
            color:#fff;
        }
    </style>
    <div class="panel-body" style="padding:1px;">
        <div id="gDocuments" data-bind="pmnGrid: {
            dataSource: DataSource,
            filterable: false,
            reorderable: false,
            selectable:'row',
            pageable: false,
            groupable: false,
            change: $root.onRowSelectionChange,
            detailInit: $root.onDetailInit,
            columns: [
                {field: 'FormattedDocumentName()', title: 'Name', encoded:false },
                {field: 'Description()', title: 'Description', hidden:false },
                {field: 'FormattedLength()', title: 'Size', attributes: { style: 'text-align:right;' }, width:95, headerAttributes: { style: 'text-align:center;' } },
                {field: 'FormattedCreatedOn()', title: 'Date', width:155 },
                {field: 'FormattedUploadedBy()', title: 'UploadedBy', hidden:false },
                {field: 'Version()', title: 'Version', hidden:true, width:95 },
                {field: 'ID', title: 'Revision Set', hidden:true },
                {field: 'FormattedTaskTitle()', title:'Task', hidden:true, encoded:false },
                {field: 'TaskID', title: 'TaskID', hidden: true, groupHeaderTemplate: $root.formatGroupHeader }
            ]
        }">
        </div>
    </div>
    <nav class="panel-footer" style="display:none;" data-bind="visible:CurrentTask() == null || (CurrentTask() != null && CurrentTask().ID != null)">
        <p>Files added by clicking "New Document" <strong><u>are not</u></strong> distributed to Data Partners. They are only visible on the query tool.</p>
        <button class="btn btn-default pull-left" type="button" data-bind="click: onDeleteDocument, visible: SelectedRevisionSet() != null && HasPermission(PMNPermissions.ProjectRequestTypeWorkflowActivities.ReviseDocuments)"><span class="glyphicon glyphicon-trash"></span> Delete Current Revision</button>
        <button class="btn btn-default pull-right" type="button" style="margin-left:10px" data-bind="click: onRefreshDocuments, visible:RequestID != null"><span class="glyphicon glyphicon-refresh"></span></button>
        <button class="btn btn-default pull-right" type="button" style="margin-left:10px;" data-bind="click: onNewDocument, visible:HasPermission(PMNPermissions.ProjectRequestTypeWorkflowActivities.AddDocuments)"><span class="glyphicon glyphicon-plus" style="font-size:smaller;"></span> New Document</button>
        <button class="btn btn-default pull-right" type="button" style="margin-left:10px;" data-bind="click: onNewRevision, visible:SelectedRevisionSet() != null && HasPermission(PMNPermissions.ProjectRequestTypeWorkflowActivities.ReviseDocuments)"><span class="glyphicon glyphicon-plus" style="font-size:smaller;"></span> New Revision</button>
        <button class="btn btn-default pull-right" type="button" data-bind="click: onDownload, visible: SelectedRevisionSet() != null"><span class="glyphicon glyphicon-download-alt"></span> Download Current Revision</button>
        <div class="clear"></div>
    </nav>
</section>
<section data-bind="visible:AttachmentsViewable() && HasPermission(PMNPermissions.ProjectRequestTypeWorkflowActivities.ViewAttachments)" class="panel panel-default">
		<div class="panel-heading">
				Attachments
		</div>
		<style>
				.k-state-selected a {
						color: #fff;
				}
		</style>
		<div class="panel-body" style="padding:1px;">
				<div id="gDocuments" data-bind="pmnGrid: {
                    dataSource: AttachmentsDataSource,
                    filterable: false,
                    reorderable: false,
                    selectable:'row',
                    pageable: false,
                    groupable: false,
                    change: $root.onAttachmentRowSelectionChange,
                    detailInit: $root.onAttachmentDetailInit,
                    columns: [
                        {field: 'FormattedDocumentName()', title: 'Name', encoded:false },
                        {field: 'Description()', title: 'Description', hidden:false },
                        {field: 'FormattedLength()', title: 'Size', attributes: { style: 'text-align:right;' }, width:95, headerAttributes: { style: 'text-align:center;' } },
                        {field: 'FormattedCreatedOn()', title: 'Date', width:155 },
                        {field: 'FormattedUploadedBy()', title: 'UploadedBy', hidden:false },
                        {field: 'Version()', title: 'Version', hidden:true, width:95 },
                        {field: 'ID', title: 'Revision Set', hidden:true },
                        {field: 'FormattedTaskTitle()', title:'Task', hidden:true, encoded:false },
                        {field: 'TaskID', title: 'TaskID', hidden: true }
                    ]
                }">
				</div>
		</div>
        <nav class="panel-footer" style="display:none;" data-bind="visible:CurrentTask() == null || (CurrentTask() != null && CurrentTask().ID != null)">
            <p>Files added by clicking "New Attachment" <strong><u>are</u></strong> distributed to Data Partners.</p>
            <button class="btn btn-default pull-left" type="button" data-bind="click: onDeleteAttachment, visible: SelectedAttachmentSet() != null && HasPermission(PMNPermissions.ProjectRequestTypeWorkflowActivities.ModifyAttachments)"><span class="glyphicon glyphicon-trash"></span> Delete Current Revision</button>
            <button class="btn btn-default pull-right" type="button" style="margin-left:10px" data-bind="click: onRefreshDocuments, visible:RequestID != null"><span class="glyphicon glyphicon-refresh"></span></button>
            <button class="btn btn-default pull-right" type="button" style="margin-left:10px;" data-bind="click: onNewAttachment, visible:HasPermission(PMNPermissions.ProjectRequestTypeWorkflowActivities.ModifyAttachments)"><span class="glyphicon glyphicon-plus" style="font-size:smaller;"></span> New Attachment</button>
            <button class="btn btn-default pull-right" type="button" style="margin-left:10px;" data-bind="click: onNewAttachmentRevision, visible:SelectedAttachmentSet() != null && HasPermission(PMNPermissions.ProjectRequestTypeWorkflowActivities.ModifyAttachments)"><span class="glyphicon glyphicon-plus" style="font-size:smaller;"></span> New Revision</button>
            <button class="btn btn-default pull-right" type="button" data-bind="click: onDownloadAttachment, visible: SelectedAttachmentSet() != null"><span class="glyphicon glyphicon-download-alt"></span> Download Current Revision</button>
            <div class="clear"></div>
        </nav>
</section>
