@{
    ViewBag.Title = "Password Expired";
    string EXMessage = string.Join("<br/>", ViewData.ModelState.Values.SelectMany(ex1 => ex1.Errors.Select(exx => exx.ErrorMessage)));
}

@section Head {
    <script src="/js/Home/ExpiredPassword.js"></script>
}
<form id="fChangePassword" action="/passwordexpired" data-bind="submit: onSubmit" method="post" autocomplete="off">
    <div class="panel panel-default" style="width:60%;margin:8px auto;">
        <div class="panel-heading">
            <h3>Please enter a new password.</h3>
        </div>
        <div class="panel-body">
            <p class="alert alert-info" role="alert">
                Your password has expired, and must be changed before continuing.<br />
                Passwords must contain at least one number, one capital letter, and one symbol.
            </p>
            @if(string.IsNullOrEmpty(EXMessage) == false)
            {
                <p class="alert alert-danger" role="alert">
                    @EXMessage
                </p>
            }
            <fieldset>
                <div class="row">
                    <div class="col-md-3">&nbsp;</div>
                    <div class="col-md-6 form-group">
                        <label for="txtPassword">Password<em>*</em></label>
                        <input type="password" id="newPassword" name="newPassword" autocomplete="off" class="form-control" title="Your new password is required" required maxlength="20" data-bind="value: ExpiredPassword.Password, valueUpdate: 'input'" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">&nbsp;</div>
                    <div class="col-md-6 form-group">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuemin="0" aria-valuemax="5" data-bind="attr:{ 'aria-valuenow': PasswordScore() }, style: {width: (PasswordScore() * 20) + '%'}, css: { 'progress-bar-danger': PasswordScore() <= 1, 'progress-bar-warning': PasswordScore() > 1 && PasswordScore() < 5, 'progress-bar-success': PasswordScore() == 5 }"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">&nbsp;</div>
                    <div class="col-md-6 form-group">
                        <label for="txtConfirmPassword">Confirm Password<em>*</em></label>
                        <input type="password" id="confirmPassword" name="confirmPassword" maxlength="20" required title="Please re-enter your password" class="form-control" data-bind="value: ConfirmPassword, valueUpdate: 'input'" />
                    </div>
                </div>
            </fieldset>

        </div>
        <nav class="panel-footer">
            <div class="row">
                <div class="col-md-3">&nbsp;</div>
                <div class="col-md-6">
                    <button id="btnSubmit" class="btn btn-success btn-sm" type="submit"><img src="@this.ResourceUrl("/images/Save24.png")" alt="Submit" />Submit</button>
                </div>
            </div>
        </nav>
    </div>
</form>