@model ResourcesModel
           
<div class="NotYetImplemented ui-section ui-has-header" title-text="Not Yet Implemented">
<div class="ui-groupbox">
<div class="ui-groupbox-header"><span>Not Yet Implemented</span></div>

<p>You have arrived at this page by clicking on an link to a page that is not yet available.

<p>We are sorry for the inconvenience.
</div>
</div>