<div class="PasswordReset ui-section ui-has-header" title-text="Password Reset">
<div class="ui-groupbox">
<div class="ui-groupbox-header"><span>Password Reset Successful</span></div>

<p>The password has been reset successfully.
    
<p>Return to <a href="/">login page</a>.
</div>
</div>