@{ Layout = null; }

<ul>
    <li>PopMedNet 3.2 Feature Enhancements:
        <ul>
            <li> Projects - Project based request processing and administration</li>
        </ul>
    </li>
    <li>PopMedNet 3.1 Feature Enhancements:
        <ul>
            <li> User Workspaces - Built-in folders that allow requests to be automatically organized into sub-folders</li>
            <li> Shared Folders -  Allows users to share requests with other users.</li>
            <li> Network Navigator - Visual tools network browser that allows the user to navigate through the network hierarchy.</li>
            <li> Bread-crumb Navigation Control - Control the maintains position within the network hierarchy providing context and allowing the user to easily back up through the hierarchy</li>
            <li> Sticky User Settings - Remembers users settings, such as collapsible controls, the number of requests shown on the request page will be remember from session to session.</li>
            <li> Auto DataMart Configuration - this will make it easier for datamart administrators to configure their datamart client. This feature streamlines the datamart client configuration process as it can be done from the portal.</li>
            <li> User Registration - Allows users to register for an account by entering contact information, username, and password in addition to the traditional user creation process performed by Administrators.</li>
            <li> User registration Workflow Process - User registration requests enter a task based workflow process used by Administrators to approve or reject user registrations via a new Task panel displayed on the home page.</li>
        </ul>
    </li>
    <li>PopMedNet 3.0 ONC Query Health Enhancements:
        <ul>
            <li>Query Envelope - Formalization of the PMN request tunnel to comply with ONC Query Health requirements</li>
            <li>Enhanced Security - Implementation of mutual authentication over TLS using X.509 certificates</li>
            <li>I2B2 Request Plugin - Integration of I2B2 request composer that submits request to the PMN network that are routed to I2B2 end-points used to process the request</li>
        </ul>
    </li>
    <li>MDPHnet Feature Enhancements:
        <ul>
            <li>Menu-driven query builder request plugin used to compose ICD-9 Diagnosis requests and Reportable Disease Requests submitted against ESP databases.</li>
        </ul>
    </li>
    <li>PopMedNet 3.0 Design and Technical enhancements:
        <ul>
            <li>New Request Model Plug-in architecture allowing the application to be easily extended to accommodate new request types and data models.</li>
            <li>Upgraded technology platform that includes Microsoft .NET 4, Entity Framework 4,
                MVC 3, WCF, and MEF under Visual Studio 2010 solution.</li>
            <li>Consolidation of all request and response data into documents that may be displayed
                using built-in viewer or downloaded to for use by custom applications.</li>
            <li>Redesigned/rewritten DataMart Client application that uses a simplified threading
                model to process requests.</li>
            <li>Use of the Windows Credential Manager to store local DataMart Client credentials.</li>
        </ul>
    </li>
</ul>