#QueryComposerOverview .panel-title .trigger, 
#QueryComposerHost .panel-title .trigger {
    text-decoration: none;
}

#QueryComposerOverview .panel-title span,
#QueryComposerHost .panel-title span {
    padding-left: 8px;
    font-size: 18px;
}

#QueryComposerOverview .panel-title .trigger:before,
#QueryComposerHost .panel-title .trigger:before {
    content: '\e252';
    font-family: 'Glyphicons Halflings';
    vertical-align: text-bottom;
}

#QueryComposerOverview .panel-title .trigger.collapsed:before,
#QueryComposerHost .panel-title .trigger.collapsed:before {
    content: '\e250';
}

#QueryComposerOverview .panel-body-header,
#QueryComposerHost .panel-body-header {
    padding: 15px;
    background-color: #f5f5f5;
}
#QueryComposerOverview .panel-body-header .form-control,
#QueryComposerHost .panel-body-header .form-control {
    height: auto;
}

/* Beginning of local styles for MDQ editors */

#QueryComposerOverview h4.TermHeader,
#QueryComposerHost h4.TermHeader {
    padding: 0;
    margin: 0;
    font-size: 1.1em;
    margin-top: 10px;
}

#QueryComposerOverview h2,
#QueryComposerHost h2 {
    font-size: 1.4em;
}

#QueryComposerOverview h1,
#QueryComposerHost h1 {
    font-size: 1.8em;
}

#QueryComposerOverview h3,
#QueryComposerHost h3 {
    font-size: 1.5em;
    margin: 0px;
    padding: 0px;
}

#QueryComposerOverview .k-item:hover,
#QueryComposerHost .k-item:hover {
    transition: background .2s ease-in;
    background-color: #d9d9d9;
}

#QueryComposerOverview .k-content,
#QueryComposerHost .k-content {
    background-color: inherit;
}

#QueryComposerOverview div.row
#QueryComposerHost div.row {
    margin-top: 15px;
    padding-top: 5px;
}

    #QueryComposerHost div.row:first-child,
    #QueryComposerHost div.row-noborder {
        margin-top: 0px;
        border-top: none;
    }

#QueryComposerHost div[class^='col-sm'], div[class*=' col-sm'] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#QueryComposerHost .criteria-block {
    margin: 8px -8px;
    padding: 8px;
    background-color: #E0EEFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#QueryComposerHost .single-subcriteria-term {
    margin-left: -15px;
    margin-right: -15px;
}

#QueryComposerHost p.operator {
    margin-top: 14px;
}

#QueryComposerHost label.design-lock {
    font-weight: normal;
    margin: 0px;
    padding-top: 10px;
    margin-left: 10px;
}

    #QueryComposerHost label.design-lock input {
        margin: 0px;
        padding: 0px;
    }

#QueryComposerHost textarea {
    padding: 4px;
    width: 99%;
    max-width: 99%;
    min-width: 99%;
    resize: vertical;
    overflow: auto;
}

#QueryComposerHost input[type=text] {
    padding: 4px;
    width:99%;
    max-width:99%;
    min-width:99%;
}

#QueryComposerHost .stratifier-terms-container .row {
    min-height:46px;
}

#DataMartsControl h2 {
    font-size: 30px;
}
