@using Lpp.QueryComposer

<script type="text/html" id="e_@ModelTermsFactory.ProcedureCodesID">
    <p class="bold center operator" data-bind="text:Global.Helpers.GetEnumString(Dns.Enums.QueryComposerOperatorsTranslation, Operator()), visible:$index() > 0"></p>
    <div class="row row-noborder">
        <div class="col-sm-2 bold"><h4 class="TermHeader bold">Procedure<em data-bind="visible:Design.Locked" style="color:red">*</em></h4></div>
        <div class="col-sm-6">
            <div class="row">
                <label class="col-xs-3">Code Set:</label>
                <div class="col-xs-5" data-bind="css:{ 'col-xs-4': (Values() != null && Values().CodeType() != null && Values().CodeType() == Dns.Enums.ProcedureCode.ICD9)  }">
                    <div style="width:100%"
                         data-bind="kendoDropDownList: { value: Values().CodeType,
                                                        dataSource: Dns.Enums.ProcedureCodeTranslation,
                                                        dataTextField: 'text', dataValueField: 'value',
                                                        select: function(e){ $root.ConfirmProcedureCodeChanged($data,e); },
                                                        },
                                                        attr:{
                                                            required: $root.IsTemplateEdit == false,
                                                            name: 'CodeSet_' + $index()
                                                        }"
                         validationmessage="Code set is required."></div>
                </div>
                
            </div>
            <div class="row" style="border-top:none;">
                @*<div class="col-xs-3"style="margin-left:20px;" data-bind="css:{ 'col-xs-5': (Values() != null && Values().CodeType() != null && Values().CodeType() == Dns.Enums.DiagnosisCodeTypes.ICD9), 'col-xs-3': (Values() != null && Values().CodeType() != null && Values().CodeType() != Dns.Enums.DiagnosisCodeTypes.ICD9)  }">
                    <button class="btn btn-primary pull-right" data-bind="visible:(Values() != null && Values().CodeType() != null && Values().CodeType() == Dns.Enums.DiagnosisCodeTypes.ICD9), click: function(data,event){ $root.OpenCombinedCodeSelector(data, Values().CodeType(), event); }"><span class="glyphicon glyphicon-pencil"></span> Select Diagnostic Codes</button>
                </div>*@
            </div>
            <div class="row" style="border-top:none;">
                <label class="col-xs-3">Selected Codes:</label> 
                <div class="col-xs-9">
                    <textarea name="txtProcedureCodes" class="form-control" rows="3" data-bind="value:Values().CodeValues, attr:{ required: $root.IsTemplateEdit == false }" validationmessage="Code values are required" title="&bull; separate multiple codes using a semi-colon" />
                
                    <div>
                        <label class="radio-online">
                            <input type="radio" data-bind="value: Dns.Enums.TextSearchMethodType.ExactMatch, checked:Values().SearchMethodType, attr:{ required: $root.IsTemplateEdit == false, name: $parents[0].ID() + 'procedurecodes_searchtype_' + $index() }" validationmessage="Select a search method type." /> Exact Match
                        </label>
                        &nbsp;
                        <label class="radio-online">
                            <input type="radio" data-bind="value: Dns.Enums.TextSearchMethodType.StartsWith, checked:Values().SearchMethodType, attr:{ name: $parents[0].ID() + 'procedurecodes_searchtype_' + $index() }" /> Starts With
                        </label>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-sm-2" data-bind="visible: $root.IsTemplateEdit">
            <input type="checkbox" data-bind="checked: Design.Locked" />
            <span>Locked</span>
        </div>
        <div class="col-sm-2">
            <button id="btnDeleteProcedureCodes" class="btn btn-danger pull-right" data-bind="click: function(data, event) { $root.DeleteTerm(data, $parent, event);}, visible: $root.IsTemplateEdit || !Design.Locked()"><span class="glyphicon glyphicon-minus"></span> Remove</button>
        </div>
    </div>
</script>
 