@using Lpp.QueryComposer
<script type="text/html" id="s_@ModelTermsFactory.ProcedureCodesID">
    <div class="row">
        <div class="col-sm-10"><h4 id="lblDeleteProcedureCodesTitle" class="TermHeader bold">Procedure Codes</h4></div>            
        <div class="col-sm-2">
            <button id="btnDeleteProcedureCodesField" class="btn btn-danger" data-bind="click: function(data, event) { $root.DeleteField(data, $parent, event);}"><span class="glyphicon glyphicon-minus"></span> Remove</button>
        </div>
    </div>
</script>
