@using Lpp.QueryComposer
<script type="text/html" id="sv_@ModelTermsFactory.VitalsMeasureDateID">
    <div class="row">
        <div class="col-sm-12 bold">Vital Measure Observation Period</div>
    </div>
</script>