@using Lpp.QueryComposer
@using Lpp.Dns.Portal.App_Code.Terms

<script type="text/html" id="e_@ModelTermsFactory.DC_NDCCodes">
    <p class="bold center operator" data-bind="text:Global.Helpers.GetEnumString(Dns.Enums.QueryComposerOperatorsTranslation, Operator()), visible:$index() > 0"></p>
    <div class="row">
        <div class="col-sm-3 bold"><h4 class="TermHeader bold">NDC Codes<em data-bind="visible:Design.Locked" style="color:red">*</em></h4></div>
        <div class="col-sm-7 form-group">
            <label for="txtDC_NDCCodes">Selected Codes:</label>
            <textarea name="txtDC_NDCCodes" class="form-control" rows="3" data-bind="value:Values().CodeValues, attr:{ required: $component.Options.IsTemplateEdit == false }" validationmessage="Code values are required" title="&bull; separate multiple codes using a comma." />
            <div>
                <label class="radio-inline">
                    <input type="radio" name="ndccodes_searchtype" data-bind="value: Dns.Enums.TextSearchMethodType.ExactMatch, checked:Values().SearchMethodType, attr:{ required: $component.Options.IsTemplateEdit == false}" validationmessage="Select a search method type." /> Exact Match
                </label>
                &nbsp;
                <label class="radio-inline">
                    <input type="radio" name="ndccodes_searchtype" data-bind="value: Dns.Enums.TextSearchMethodType.StartsWith, checked:Values().SearchMethodType" /> Starts With
                </label>
                <span class="help-block">&bull; separate multiple codes using a comma.</span>
            </div>
        </div>
        <div class="col-sm-2 form-group">
            <button id="btnDeleteNDCCodesTerm" class="btn btn-danger pull-right" data-bind="click: $component.onDeleteTermFromCriteria.bind($component, $data, $parent), visible: $component.Options.IsTemplateEdit || !Design.Locked()"><span class="glyphicon glyphicon-minus"></span> Remove</button>
            <label class="design-lock" data-bind="visible: $component.Options.IsTemplateEdit"><input type="checkbox" data-bind="checked: Design.Locked" /> Locked</label>
        </div>
    </div>
</script>