@model Lpp.Dns.HealthCare.SummaryQueryBuilder.Code.Exceptions.InvalidDataSetException
@{ this.Stylesheet( "Medical.css" ); }
<div class="Exception">
    <p class="Exception">@Model.Message</p>
</div>