@using Lpp.QueryComposer
<script type="text/html" id="s_@ModelTermsFactory.TobaccoUseID">
    <div class="row">
        <div class="col-sm-10"><h4 id="lblTobaccoUse" class="TermHeader bold">Tobacco Use</h4></div>
        <div class="col-sm-2">
            <button id="btnDeleteConditionField" class="btn btn-danger" data-bind="click: $component.onDeleteField.bind($component, $data, $parent)"><span class="glyphicon glyphicon-minus"></span> Remove</button>
        </div>
    </div>
</script>