@using Lpp.QueryComposer
<script type="text/html" id="sv_@ModelTermsFactory.QuarterYearID">
    <div class="row">
        <div class="col-sm-12 bold">Year/Quarter Observation Period</div>
    </div>
</script>