<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="cmp7C9D7ECB8AA42F8F89FFDA128508D39E" Guid="{E1E66FD8-AB69-48FB-8D59-EC8EE4CF2B32}">
                <File Id="fil537261B9AB04F5C0A27396309F4EA107" KeyPath="yes" Source="$(var.DMCLocation)\Common.Logging.Core.dll" />
            </Component>
            <Component Id="cmpCA76E8B104F185E0E175A2C445E8ECE9" Guid="{CE15C235-2D36-4CC0-9BCC-EC5DB4A18A1D}">
                <File Id="filC4BB0618E2668775A3D58D7442B8887D" KeyPath="yes" Source="$(var.DMCLocation)\Common.Logging.Core.pdb" />
            </Component>
            <Component Id="cmpE1893094C315BFD8BCCF5DD862A69089" Guid="{74FA7C5C-9F98-4E26-BD01-E1F06CA92EA4}">
                <File Id="filF4B98F5EB39EBD76762C6B725345901F" KeyPath="yes" Source="$(var.DMCLocation)\Common.Logging.Core.xml" />
            </Component>
            <Component Id="cmp059A81F557F2A7B3731E3EE81BE97CCD" Guid="{028F2DF6-9481-4B71-8848-EF63AAE4831C}">
                <File Id="fil0D1D3D4225BB5A570B5EFFD192341BA3" KeyPath="yes" Source="$(var.DMCLocation)\Common.Logging.dll" />
            </Component>
            <Component Id="cmp7427D6242735860F3E24583DE0ABB8ED" Guid="{B03E5A2A-6340-4EF0-A19C-C765854D0B79}">
                <File Id="fil4E2860CBBA6090600E7088FAAA18BB8C" KeyPath="yes" Source="$(var.DMCLocation)\Common.Logging.pdb" />
            </Component>
            <Component Id="cmp09378AF7D871E528386216BA6BBEC63C" Guid="{FD2CDAE9-6362-4D73-BE07-4B86779C4805}">
                <File Id="fil2AAF106E6E023E7A8AECAF79FAB6BACE" KeyPath="yes" Source="$(var.DMCLocation)\Common.Logging.xml" />
            </Component>
            <Component Id="cmp0BFABD100B4065787B40AA6B05938DF7" Guid="{67CCFBAE-BE4E-40CF-B076-8DC6C3F8D195}">
                <File Id="fil1D38723F4A034EDE78B6A3B94EFB99F2" KeyPath="yes" Source="$(var.DMCLocation)\EntityFramework.dll" />
            </Component>
            <Component Id="cmp6CF5CB56E3583D0EBD44D2BB10A62A27" Guid="{270DED21-7910-42A0-BA9B-941F243ED7D0}">
                <File Id="filD3369B082D009ADB833B8DD9F589E45E" KeyPath="yes" Source="$(var.DMCLocation)\EntityFramework.xml" />
            </Component>
            <Component Id="cmp28F47D9A07DA0DB70D726116C5513C1D" Guid="{DF23D325-A04B-4AF6-9588-5C4D5F2AEDA6}">
                <File Id="filFBF72465D947A4CEAA8F094AB2ABC988" KeyPath="yes" Source="$(var.DMCLocation)\ICSharpCode.SharpZipLib.dll" />
            </Component>
            <Component Id="cmp4CDC6E9977EC72FC12718F8878E696A1" Guid="{62DD0D6B-000D-4D77-AE83-DBB3649006DE}">
                <File Id="fil9BFF2E84E07B0047AC90A52304E88708" KeyPath="yes" Source="$(var.DMCLocation)\Interop.IWshRuntimeLibrary.dll" />
            </Component>
            <Component Id="cmp13D58469BCB864EB53214ED46E622188" Guid="{D2756B3B-9F0A-4A67-B1F0-98B90472668B}">
                <File Id="fil28F7A9478894C77C5F6C2A95DAA4B459" KeyPath="yes" Source="$(var.DMCLocation)\log4net.dll" />
            </Component>
            <Component Id="cmp742785C9A7B88BE6B2E81C2322E3D2EE" Guid="{71C741A5-E073-43A7-87F9-5C491D214E65}">
                <File Id="filA307C00D897BECB908C510DE71A3AD29" KeyPath="yes" Source="$(var.DMCLocation)\log4net.xml" />
            </Component>
            <Component Id="cmp9789DAC240AA79E31A1F7FCF45146D95" Guid="{D11CB20F-0AB4-4CE0-A87F-3F2FA9EB88D3}">
                <File Id="fil8E9AF952AF107EC333118F8A3688BD7F" KeyPath="yes" Source="$(var.DMCLocation)\Lpp.Dns.DataMart.Client.application" />
            </Component>
            <Component Id="cmp21131CDDC559A318CE5CC5B5BA0EA7D7" Guid="{EEB8E13F-D7EF-41D9-8B09-F086E84238D2}">
                <File Id="fil61A4151B3B9D29CEC16E17D6893D6AD1" KeyPath="yes" Source="$(var.DMCLocation)\Lpp.Dns.DataMart.Client.Database.dll" />
            </Component>
            <Component Id="cmpAEC0F6C69ED529CE588CAFD3AD456941" Guid="{037983CC-5BBB-48EC-A838-077A759DFE71}">
                <File Id="fil3BAB7C7713787D717D8194E7D6B45D4F" KeyPath="yes" Source="$(var.DMCLocation)\Lpp.Dns.DataMart.Client.DomainManger.dll" />
            </Component>
            <Component Id="cmpFE1F05673C08A5858BF180681D85647E" Guid="{F440EEA9-873C-4BCF-94E6-F298806BEC94}">
                <File Id="filBED0A795E19AFDC0C8529FF7E69E17F9" KeyPath="yes" Source="$(var.DMCLocation)\Lpp.Dns.DataMart.Client.DomainManger.pdb" />
            </Component>
            <Component Id="cmp37733E7A65F92B41C7D551BC9D4849B7" Guid="{C6DD6A60-F185-4580-825F-939204BC3092}">
                <File Id="fil8A957691BF6AD475098A69DDD23F2F59" KeyPath="yes" Source="$(var.DMCLocation)\Lpp.Dns.DataMart.Client.exe" />
            </Component>
            <Component Id="cmp4CC9F38FEF67AFED4231687259FBF9F6" Guid="{2DF75159-1E48-46E3-BBB2-971FBDDE672C}">
                <File Id="fil61D0A550F03F78E6B6C12AB2037CC13A" KeyPath="yes" Source="$(var.DMCLocation)\Lpp.Dns.DataMart.Client.exe.config" />
            </Component>
            <Component Id="cmp12D8F2045594B1B709DCA709C26726B6" Guid="{F6800C4E-39D5-4A40-B630-D3A20F55DDA3}">
                <File Id="fil2C1C5444C7833DE40583B96865580FA9" KeyPath="yes" Source="$(var.DMCLocation)\Lpp.Dns.DataMart.Client.exe.manifest" />
            </Component>
            <Component Id="cmp6049B69A071A21F39197D0725A024533" Guid="{FA6C95DD-A546-4239-9866-5ECDD006DDA4}">
                <File Id="filC7799C4256565E781A7EB558F5CCA82C" KeyPath="yes" Source="$(var.DMCLocation)\Lpp.Dns.DataMart.Client.pdb" />
            </Component>
            <Component Id="cmp06441993BFC3AF21C31DC7A20432D06F" Guid="{9EDFFC40-DD45-415F-A4A4-47DCC0400ED8}">
                <File Id="fil805E94D3FD8E12B16BF98A25EA88C077" KeyPath="yes" Source="$(var.DMCLocation)\Lpp.Dns.DataMart.Client.vshost.exe" />
            </Component>
            <Component Id="cmpFADF952BED493BB21C310387D3F8A2A0" Guid="{C9512D72-8303-45AD-952A-6BD18AB663B5}">
                <File Id="filF470336DF0DD2AFD56133E4E0286A5FB" KeyPath="yes" Source="$(var.DMCLocation)\Lpp.Dns.DataMart.Client.vshost.exe.config" />
            </Component>
            <Component Id="cmp990C9570B45605D88236AEC75D18B2C1" Guid="{2C6C2C57-1F2D-4C3E-B396-73A91416A586}">
                <File Id="fil3389FC611A5C955859607910CFBEF933" KeyPath="yes" Source="$(var.DMCLocation)\Lpp.Dns.DataMart.Model.Interface.dll" />
            </Component>
            <Component Id="cmp7846D56CED00BF6C8967313AC1206A89" Guid="{C1121894-A8A7-40B1-B913-C2DA44577854}">
                <File Id="fil336173CAAE7E365AA95A2A177C6A0785" KeyPath="yes" Source="$(var.DMCLocation)\Lpp.Dns.DataMart.Model.Interface.pdb" />
            </Component>
            <Component Id="cmp79E912CC00132729704E35B4EB24876A" Guid="{D917BA3C-5483-4A02-A3C3-79AB7A0A0631}">
                <File Id="filBCEA0FE84048ACF34305A5816C1402CC" KeyPath="yes" Source="$(var.DMCLocation)\Lpp.Dns.DTO.DataMartClient.dll" />
            </Component>
            <Component Id="cmp22F5628B2A1347E64B99013D03308CE2" Guid="{C94DA220-E0B5-4C3B-8172-2813A5F7E3A7}">
                <File Id="fil6C8C273C64B7ABBB7BB1B4AE97E6CF95" KeyPath="yes" Source="$(var.DMCLocation)\Lpp.Dns.DTO.DataMartClient.pdb" />
            </Component>
            <Component Id="cmp7B37BC35A8AE3E505BBE2D3D3C4FAB26" Guid="{9ABC4FE9-9FD9-4D59-8FBE-FE01DEBC02E5}">
                <File Id="filF47C981D83590C9EE3EFEEFCD163662F" KeyPath="yes" Source="$(var.DMCLocation)\Lpp.Dns.DTO.dll" />
            </Component>
            <Component Id="cmp4D6433D7A51CB7CEAE9FDA780C63928C" Guid="{FB79123C-DB34-46E8-90D8-4DFDC8F4B636}">
                <File Id="fil5252BC4B6D75A34787CE32CCF4E93768" KeyPath="yes" Source="$(var.DMCLocation)\Lpp.Dns.DTO.pdb" />
            </Component>
            <Component Id="cmp4CC2BADF0905015ACCB603238F2BC8E1" Guid="{0516CC16-9A14-4DFB-A242-6046FE42617D}">
                <File Id="fil7F9DED2BC039891C4BF20E6DA58CA795" KeyPath="yes" Source="$(var.DMCLocation)\Lpp.Dns.DTO.xml" />
            </Component>
            <Component Id="cmp698D8BCC16A15E9F28DD35234BB95649" Guid="{95E2D135-AE34-4B25-93DF-8FD325D4AECD}">
                <File Id="filE061A783F10CEB2BEF7F9EF37732EA47" KeyPath="yes" Source="$(var.DMCLocation)\Lpp.Objects.dll" />
            </Component>
            <Component Id="cmp8BA15DD2A7780154F7CF43B5BE3F4469" Guid="{B99937FE-7B23-4338-A80D-D0E22B93063F}">
                <File Id="fil44E51D1FBC126FDD19D7AFBD1BE25232" KeyPath="yes" Source="$(var.DMCLocation)\Lpp.Objects.pdb" />
            </Component>
            <Component Id="cmp8D70D98B32C8F908DD58C5F06708F289" Guid="{C41F8BE7-A421-4A81-8A3E-45DED99DDAE9}">
                <File Id="fil65C3764DFEF4B816AA91E646D63059C1" KeyPath="yes" Source="$(var.DMCLocation)\Microsoft.Threading.Tasks.dll" />
            </Component>
            <Component Id="cmp1DFBDA5C3F28C07C3DEBDDBAE7F78802" Guid="{ABEB4D15-9F05-4237-BCAA-7A58CEB5A110}">
                <File Id="fil88E67E79EF1C4E174E3CA55C79D438EF" KeyPath="yes" Source="$(var.DMCLocation)\Microsoft.Threading.Tasks.Extensions.Desktop.dll" />
            </Component>
            <Component Id="cmp1CEBF83F44FBF4E54F6836267184EBCB" Guid="{C9220C0E-727C-4B1C-BBEF-072A604240E7}">
                <File Id="fil73DE8E4573C49C252AF9BBEB750C3371" KeyPath="yes" Source="$(var.DMCLocation)\Microsoft.Threading.Tasks.Extensions.Desktop.xml" />
            </Component>
            <Component Id="cmp2BD2CA101B27AF1371B06F4F15D95F9B" Guid="{E9F7AC43-422F-4431-AB5E-0142A75E6CA8}">
                <File Id="fil477B767EE43BD465EE01C8F343860270" KeyPath="yes" Source="$(var.DMCLocation)\Microsoft.Threading.Tasks.Extensions.dll" />
            </Component>
            <Component Id="cmpF17FF2B4A4721FA24BEFA74C0309A2F1" Guid="{4EDCDEF8-9D5C-4CFA-B390-C9866B53F5B3}">
                <File Id="fil34823D88AB36900C40AB3A8E7D4BD88A" KeyPath="yes" Source="$(var.DMCLocation)\Microsoft.Threading.Tasks.Extensions.xml" />
            </Component>
            <Component Id="cmp70F570FFEF73490225CDC4144CEC292F" Guid="{F5C667C8-D2BA-4F95-9565-FD2042E3C461}">
                <File Id="fil8DFD77FF75A79420C9E864EAFB8BD4C3" KeyPath="yes" Source="$(var.DMCLocation)\Microsoft.Threading.Tasks.xml" />
            </Component>
            <Component Id="cmpBC4FC00A26E7D32479D42D3411317FC5" Guid="{F514940A-50DC-4DAF-80F3-C6202E87D9BD}">
                <File Id="fil90A8AAD9FC612906D405476D61CEA3F4" KeyPath="yes" Source="$(var.DMCLocation)\Newtonsoft.Json.dll" />
            </Component>
            <Component Id="cmp125C379E185231EFADA4CB4301BD0A9E" Guid="{6391F38A-F2BD-45BE-A3E1-E39D55ED2B29}">
                <File Id="fil3A2F44A7730E98D18E0948B3261DFABD" KeyPath="yes" Source="$(var.DMCLocation)\Newtonsoft.Json.xml" />
            </Component>
            <Component Id="cmp1D373F2EE04B834A7EA8C62E40373A2B" Guid="{A435C20C-BE37-4433-8F0F-A63632AC4A03}">
                <File Id="filC17689B07A9786C6CD47C566B7B7B275" KeyPath="yes" Source="$(var.DMCLocation)\Npgsql.dll" />
            </Component>
            <Component Id="cmpAC2F6DB1E032C0CA24B3367FE667ED0A" Guid="{9A34B292-4EE2-4951-A42F-090D22F2BFD5}">
                <File Id="fil2AF858CAFD0BB97FE9B6C4F53A166FB3" KeyPath="yes" Source="$(var.DMCLocation)\Oracle.ManagedDataAccess.dll" />
            </Component>
            <Component Id="cmpA5E215C9BBF1CAA9E046657ABBBDCC5D" Guid="{F17DAC29-CF0C-4D1C-9570-B9407D9D8AE1}">
                <File Id="fil3AFA0D937FF90894A756CA4C2CF0DC38" KeyPath="yes" Source="$(var.DMCLocation)\Renci.SshNet.dll" />
            </Component>
            <Component Id="cmp1966D043A58A3F77508F609F750D13F3" Guid="{157FDC9F-45EC-4A30-8068-0D68F561131A}">
                <File Id="filBD38600BDF204EDCFC6D4371C7F2456F" KeyPath="yes" Source="$(var.DMCLocation)\Renci.SshNet.xml" />
            </Component>
            <Component Id="cmp43571D5B3C98C620B91CFB722AB036A9" Guid="{D009FA7C-411E-4D17-BAC5-19C99B6BFA23}">
                <File Id="fil25C6F19EFB20FE77CA17650F918CB561" KeyPath="yes" Source="$(var.DMCLocation)\RestSharp.dll" />
            </Component>
            <Component Id="cmpA07E47E90BE78F39DC836350A272AD7E" Guid="{90791BFB-5BDB-4D7F-A22E-1FDA082725BF}">
                <File Id="filFC40DFE58E4E3410234192A7B56EE5DA" KeyPath="yes" Source="$(var.DMCLocation)\RestSharp.xml" />
            </Component>
            <Component Id="cmp76ED9A98F3A8983692E426BFC2E271CD" Guid="{CF034021-9C4A-4564-A1A8-5203A4127EAA}">
                <File Id="fil50ADDF17253DD61274E9BC28E52B5698" KeyPath="yes" Source="$(var.DMCLocation)\System.Interactive.dll" />
            </Component>
            <Component Id="cmpF0368FED4146FFECC06A4900883CCE0F" Guid="{0567CECB-4DF1-46D2-8544-7C7E3C209C7B}">
                <File Id="fil4A85C2CC7A84074A9E217753AC716B1E" KeyPath="yes" Source="$(var.DMCLocation)\System.Interactive.xml" />
            </Component>
            <Component Id="cmp797F8DC3A63E0E850FE46EF921C60A2B" Guid="{624624A1-0BBE-4180-8BBA-4CB72E756976}">
                <File Id="fil97977DF0056BA3A8A7A4420F0D93914C" KeyPath="yes" Source="$(var.DMCLocation)\System.Net.Http.Extensions.dll" />
            </Component>
            <Component Id="cmp0D2E91AD62C787ED248697FDA0E57000" Guid="{A78472E3-BE23-49A5-9786-8A73A75C5907}">
                <File Id="fil63427980B3C5601FBA6D65443811B065" KeyPath="yes" Source="$(var.DMCLocation)\System.Net.Http.Extensions.xml" />
            </Component>
            <Component Id="cmp862AFB170C95C2950115AF83949F8EBE" Guid="{61ABF346-3653-4E41-9FBE-27C56293C6F5}">
                <File Id="filC6DC735FD1B63B9AA5507BA3585A39FB" KeyPath="yes" Source="$(var.DMCLocation)\System.Net.Http.Primitives.dll" />
            </Component>
            <Component Id="cmp992BC94250D724817C545305DCD23D33" Guid="{3C512253-395E-4CA5-9FBD-66D48977CA9A}">
                <File Id="fil2AE0627785D66C2CAC0B4DFB63B317C2" KeyPath="yes" Source="$(var.DMCLocation)\System.Net.Http.Primitives.xml" />
            </Component>
            <Component Id="cmp33A2E0CDCB2457FD07A5EB7CD43D89DA" Guid="{4F219C7E-7486-47BF-9621-AEA41DF049C0}">
                <File Id="fil846A953AFF86FEE17DA23C0C138E1A63" KeyPath="yes" Source="$(var.DMCLocation)\System.Reactive.Core.dll" />
            </Component>
            <Component Id="cmp658FF4AFD87816984B60B23176838707" Guid="{39DF9700-C560-4082-9F41-3B6A9CACDB6E}">
                <File Id="filBFD9F16646CC705968A1EADF0D6EF5D3" KeyPath="yes" Source="$(var.DMCLocation)\System.Reactive.Core.xml" />
            </Component>
            <Component Id="cmpE39668959EEE73724DCF95607C11909E" Guid="{07EF3E80-D58C-4DE5-9AD8-C0541648915E}">
                <File Id="fil089FEF1B09CE2D4674666B7E9AF34C95" KeyPath="yes" Source="$(var.DMCLocation)\System.Reactive.Interfaces.dll" />
            </Component>
            <Component Id="cmpFD0F2B89F46954E97B5CAE900E0E7970" Guid="{609FC5A7-8D0A-4EF1-86D1-63B81D12F338}">
                <File Id="fil8B7049F5D719FE5E381569DB12CFA271" KeyPath="yes" Source="$(var.DMCLocation)\System.Reactive.Interfaces.xml" />
            </Component>
            <Component Id="cmpCBA72DF99C219D453FAFC3E749DA1F01" Guid="{1F4065C3-04EC-4922-BA57-987CA05196E2}">
                <File Id="fil95A058622AFC42820C25EF2E63A647E8" KeyPath="yes" Source="$(var.DMCLocation)\System.Reactive.Linq.dll" />
            </Component>
            <Component Id="cmpC79022383BA180BE267D30BFF993D878" Guid="{849C1452-1951-40FB-B8EF-B237574D8C18}">
                <File Id="fil240B9A058EAA1D783F64F2597CE83EDD" KeyPath="yes" Source="$(var.DMCLocation)\System.Reactive.Linq.xml" />
            </Component>
            <Component Id="cmp1BC932B8353CD8372E8E42D3CA6CBB11" Guid="{6DCED592-B2A1-4367-AAB3-1872FD7DFD7A}">
                <File Id="fil6E825004F8F872DFE6F7A33919E147A0" KeyPath="yes" Source="$(var.DMCLocation)\System.Reactive.PlatformServices.dll" />
            </Component>
            <Component Id="cmp310738C5DD47548F0B834F8343BC44E5" Guid="{82D74DC2-624B-4B56-9FB7-7A23C67A7259}">
                <File Id="filCF758A33CFDB2E9A03775DD7D33D67C0" KeyPath="yes" Source="$(var.DMCLocation)\System.Reactive.PlatformServices.xml" />
            </Component>
            <Component Id="cmp6B3A90C65D0052F7AA87D6CBA7A47431" Guid="{CF7AFCA1-3769-4B3F-B195-0DA3640F2D0B}">
                <File Id="filB4B223D042EB19855C9A7AF7CA4CD2CB" KeyPath="yes" Source="$(var.DMCLocation)\System.Reactive.Windows.Forms.dll" />
            </Component>
            <Component Id="cmp96652979B553135C8913541FDE367690" Guid="{FF7FFF4F-6C2A-47D3-9DF1-A9AF2B7E6C12}">
                <File Id="fil41A6578DD24B3C9B8215EC200049C8F6" KeyPath="yes" Source="$(var.DMCLocation)\System.Reactive.Windows.Forms.xml" />
            </Component>
            <Directory Id="dir00122602D311392A9D483BE33FE17DEF" Name="app.publish">
                <Component Id="cmpE4D360C5C5ABDE890E5E1CB31D7CE654" Guid="{216A709C-8CB1-4DFB-9A39-8732C7470988}">
                    <File Id="fil8F56205A5D98908FE7A2B5DC48490079" KeyPath="yes" Source="$(var.DMCLocation)\app.publish\Lpp.Dns.DataMart.Client.exe" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="ProductComponents">
            <ComponentRef Id="cmp7C9D7ECB8AA42F8F89FFDA128508D39E" />
            <ComponentRef Id="cmpCA76E8B104F185E0E175A2C445E8ECE9" />
            <ComponentRef Id="cmpE1893094C315BFD8BCCF5DD862A69089" />
            <ComponentRef Id="cmp059A81F557F2A7B3731E3EE81BE97CCD" />
            <ComponentRef Id="cmp7427D6242735860F3E24583DE0ABB8ED" />
            <ComponentRef Id="cmp09378AF7D871E528386216BA6BBEC63C" />
            <ComponentRef Id="cmp0BFABD100B4065787B40AA6B05938DF7" />
            <ComponentRef Id="cmp6CF5CB56E3583D0EBD44D2BB10A62A27" />
            <ComponentRef Id="cmp28F47D9A07DA0DB70D726116C5513C1D" />
            <ComponentRef Id="cmp4CDC6E9977EC72FC12718F8878E696A1" />
            <ComponentRef Id="cmp13D58469BCB864EB53214ED46E622188" />
            <ComponentRef Id="cmp742785C9A7B88BE6B2E81C2322E3D2EE" />
            <ComponentRef Id="cmp9789DAC240AA79E31A1F7FCF45146D95" />
            <ComponentRef Id="cmp21131CDDC559A318CE5CC5B5BA0EA7D7" />
            <ComponentRef Id="cmpAEC0F6C69ED529CE588CAFD3AD456941" />
            <ComponentRef Id="cmpFE1F05673C08A5858BF180681D85647E" />
            <ComponentRef Id="cmp37733E7A65F92B41C7D551BC9D4849B7" />
            <ComponentRef Id="cmp4CC9F38FEF67AFED4231687259FBF9F6" />
            <ComponentRef Id="cmp12D8F2045594B1B709DCA709C26726B6" />
            <ComponentRef Id="cmp6049B69A071A21F39197D0725A024533" />
            <ComponentRef Id="cmp06441993BFC3AF21C31DC7A20432D06F" />
            <ComponentRef Id="cmpFADF952BED493BB21C310387D3F8A2A0" />
            <ComponentRef Id="cmp990C9570B45605D88236AEC75D18B2C1" />
            <ComponentRef Id="cmp7846D56CED00BF6C8967313AC1206A89" />
            <ComponentRef Id="cmp79E912CC00132729704E35B4EB24876A" />
            <ComponentRef Id="cmp22F5628B2A1347E64B99013D03308CE2" />
            <ComponentRef Id="cmp7B37BC35A8AE3E505BBE2D3D3C4FAB26" />
            <ComponentRef Id="cmp4D6433D7A51CB7CEAE9FDA780C63928C" />
            <ComponentRef Id="cmp4CC2BADF0905015ACCB603238F2BC8E1" />
            <ComponentRef Id="cmp698D8BCC16A15E9F28DD35234BB95649" />
            <ComponentRef Id="cmp8BA15DD2A7780154F7CF43B5BE3F4469" />
            <ComponentRef Id="cmp8D70D98B32C8F908DD58C5F06708F289" />
            <ComponentRef Id="cmp1DFBDA5C3F28C07C3DEBDDBAE7F78802" />
            <ComponentRef Id="cmp1CEBF83F44FBF4E54F6836267184EBCB" />
            <ComponentRef Id="cmp2BD2CA101B27AF1371B06F4F15D95F9B" />
            <ComponentRef Id="cmpF17FF2B4A4721FA24BEFA74C0309A2F1" />
            <ComponentRef Id="cmp70F570FFEF73490225CDC4144CEC292F" />
            <ComponentRef Id="cmpBC4FC00A26E7D32479D42D3411317FC5" />
            <ComponentRef Id="cmp125C379E185231EFADA4CB4301BD0A9E" />
            <ComponentRef Id="cmp1D373F2EE04B834A7EA8C62E40373A2B" />
            <ComponentRef Id="cmpAC2F6DB1E032C0CA24B3367FE667ED0A" />
            <ComponentRef Id="cmpA5E215C9BBF1CAA9E046657ABBBDCC5D" />
            <ComponentRef Id="cmp1966D043A58A3F77508F609F750D13F3" />
            <ComponentRef Id="cmp43571D5B3C98C620B91CFB722AB036A9" />
            <ComponentRef Id="cmpA07E47E90BE78F39DC836350A272AD7E" />
            <ComponentRef Id="cmp76ED9A98F3A8983692E426BFC2E271CD" />
            <ComponentRef Id="cmpF0368FED4146FFECC06A4900883CCE0F" />
            <ComponentRef Id="cmp797F8DC3A63E0E850FE46EF921C60A2B" />
            <ComponentRef Id="cmp0D2E91AD62C787ED248697FDA0E57000" />
            <ComponentRef Id="cmp862AFB170C95C2950115AF83949F8EBE" />
            <ComponentRef Id="cmp992BC94250D724817C545305DCD23D33" />
            <ComponentRef Id="cmp33A2E0CDCB2457FD07A5EB7CD43D89DA" />
            <ComponentRef Id="cmp658FF4AFD87816984B60B23176838707" />
            <ComponentRef Id="cmpE39668959EEE73724DCF95607C11909E" />
            <ComponentRef Id="cmpFD0F2B89F46954E97B5CAE900E0E7970" />
            <ComponentRef Id="cmpCBA72DF99C219D453FAFC3E749DA1F01" />
            <ComponentRef Id="cmpC79022383BA180BE267D30BFF993D878" />
            <ComponentRef Id="cmp1BC932B8353CD8372E8E42D3CA6CBB11" />
            <ComponentRef Id="cmp310738C5DD47548F0B834F8343BC44E5" />
            <ComponentRef Id="cmp6B3A90C65D0052F7AA87D6CBA7A47431" />
            <ComponentRef Id="cmp96652979B553135C8913541FDE367690" />
            <ComponentRef Id="cmpE4D360C5C5ABDE890E5E1CB31D7CE654" />
        </ComponentGroup>
    </Fragment>
</Wix>