<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="cmp7C9D7ECB8AA42F8F89FFDA128508D39E" Guid="{BEB0521E-DA00-437D-97CF-23E827F30C34}">
                <File Id="fil537261B9AB04F5C0A27396309F4EA107" KeyPath="yes" Source="$(var.DMCLocation)\Common.Logging.Core.dll" />
            </Component>
            <Component Id="cmpCA76E8B104F185E0E175A2C445E8ECE9" Guid="{30C7BE7C-057D-42BE-90D9-47223D7919E8}">
                <File Id="filC4BB0618E2668775A3D58D7442B8887D" KeyPath="yes" Source="$(var.DMCLocation)\Common.Logging.Core.pdb" />
            </Component>
            <Component Id="cmpE1893094C315BFD8BCCF5DD862A69089" Guid="{24F3F38D-C743-4F3D-B947-E06533F6798B}">
                <File Id="filF4B98F5EB39EBD76762C6B725345901F" KeyPath="yes" Source="$(var.DMCLocation)\Common.Logging.Core.xml" />
            </Component>
            <Component Id="cmp059A81F557F2A7B3731E3EE81BE97CCD" Guid="{6A3FCB1B-6978-476A-B2CA-15A8203FE600}">
                <File Id="fil0D1D3D4225BB5A570B5EFFD192341BA3" KeyPath="yes" Source="$(var.DMCLocation)\Common.Logging.dll" />
            </Component>
            <Component Id="cmp7427D6242735860F3E24583DE0ABB8ED" Guid="{F5404653-A1E9-4043-A9AC-56226F3D989D}">
                <File Id="fil4E2860CBBA6090600E7088FAAA18BB8C" KeyPath="yes" Source="$(var.DMCLocation)\Common.Logging.pdb" />
            </Component>
            <Component Id="cmp09378AF7D871E528386216BA6BBEC63C" Guid="{914D07E5-4D95-4ADF-9E00-FE86AA116AFC}">
                <File Id="fil2AAF106E6E023E7A8AECAF79FAB6BACE" KeyPath="yes" Source="$(var.DMCLocation)\Common.Logging.xml" />
            </Component>
            <Component Id="cmp0BFABD100B4065787B40AA6B05938DF7" Guid="{EE7C60B2-B6D5-4BCF-96BA-C41D68F715C0}">
                <File Id="fil1D38723F4A034EDE78B6A3B94EFB99F2" KeyPath="yes" Source="$(var.DMCLocation)\EntityFramework.dll" />
            </Component>
            <Component Id="cmp6CF5CB56E3583D0EBD44D2BB10A62A27" Guid="{4252BA33-830E-4B35-8AA2-CF04DAAB0542}">
                <File Id="filD3369B082D009ADB833B8DD9F589E45E" KeyPath="yes" Source="$(var.DMCLocation)\EntityFramework.xml" />
            </Component>
            <Component Id="cmp28F47D9A07DA0DB70D726116C5513C1D" Guid="{C624429F-62C8-460D-BADB-E14C9A581087}">
                <File Id="filFBF72465D947A4CEAA8F094AB2ABC988" KeyPath="yes" Source="$(var.DMCLocation)\ICSharpCode.SharpZipLib.dll" />
            </Component>
            <Component Id="cmp981D7BA469A26BB43293F58D0BD1DF19" Guid="{618BFB85-B40B-436A-97AB-6E0C0383057F}">
                <File Id="fil2B402EE0B519F4DF214C5AC33A1D75CA" KeyPath="yes" Source="$(var.DMCLocation)\ICSharpCode.SharpZipLib.pdb" />
            </Component>
            <Component Id="cmpAAA15040B9A962C3965B382ECEBE8E7F" Guid="{977FE3A0-EE88-420D-8DD3-B0923942D7F7}">
                <File Id="fil777F77FDDF3EED9589F6B0772E942AF4" KeyPath="yes" Source="$(var.DMCLocation)\ICSharpCode.SharpZipLib.xml" />
            </Component>
            <Component Id="cmp4CDC6E9977EC72FC12718F8878E696A1" Guid="{7E77E610-C0AE-4E40-B386-410F8E9DD0CD}">
                <File Id="fil9BFF2E84E07B0047AC90A52304E88708" KeyPath="yes" Source="$(var.DMCLocation)\Interop.IWshRuntimeLibrary.dll" />
            </Component>
            <Component Id="cmp13D58469BCB864EB53214ED46E622188" Guid="{BE509045-1DE1-4A33-ADA3-E610B0954E42}">
                <File Id="fil28F7A9478894C77C5F6C2A95DAA4B459" KeyPath="yes" Source="$(var.DMCLocation)\log4net.dll" />
            </Component>
            <Component Id="cmp742785C9A7B88BE6B2E81C2322E3D2EE" Guid="{49A13FDD-CC24-429B-87BC-F287CE2ED33B}">
                <File Id="filA307C00D897BECB908C510DE71A3AD29" KeyPath="yes" Source="$(var.DMCLocation)\log4net.xml" />
            </Component>
            <Component Id="cmp21131CDDC559A318CE5CC5B5BA0EA7D7" Guid="{520B6A08-ED88-42D2-997E-FBD095C798F3}">
                <File Id="fil61A4151B3B9D29CEC16E17D6893D6AD1" KeyPath="yes" Source="$(var.DMCLocation)\Lpp.Dns.DataMart.Client.Database.dll" />
            </Component>
            <Component Id="cmpAEC0F6C69ED529CE588CAFD3AD456941" Guid="{E2CDC3EE-CCFB-4A9D-83AB-EDEC38973EB8}">
                <File Id="fil3BAB7C7713787D717D8194E7D6B45D4F" KeyPath="yes" Source="$(var.DMCLocation)\Lpp.Dns.DataMart.Client.DomainManger.dll" />
            </Component>
            <Component Id="cmpD98406C8C84B1394976931A587FA4563" Guid="{112856F4-0F28-49A1-AC27-13AC187DEAE0}">
                <File Id="fil4CD6B5CBC54B36B57D7E8EFD1FA8D428" KeyPath="yes" Source="$(var.DMCLocation)\Lpp.Dns.DataMart.Client.DomainManger.dll.config" />
            </Component>
            <Component Id="cmpFE1F05673C08A5858BF180681D85647E" Guid="{0803195F-7D30-431F-92E5-014F29ED40A8}">
                <File Id="filBED0A795E19AFDC0C8529FF7E69E17F9" KeyPath="yes" Source="$(var.DMCLocation)\Lpp.Dns.DataMart.Client.DomainManger.pdb" />
            </Component>
            <Component Id="cmp37733E7A65F92B41C7D551BC9D4849B7" Guid="{87F6E063-633A-4E15-AB58-F815AD41038B}">
                <File Id="fil8A957691BF6AD475098A69DDD23F2F59" KeyPath="yes" Source="$(var.DMCLocation)\Lpp.Dns.DataMart.Client.exe" />
            </Component>
            <Component Id="cmp4CC9F38FEF67AFED4231687259FBF9F6" Guid="{7680E2DF-CCB9-4640-B18E-AEE2C8D7ADA0}">
                <File Id="fil61D0A550F03F78E6B6C12AB2037CC13A" KeyPath="yes" Source="$(var.DMCLocation)\Lpp.Dns.DataMart.Client.exe.config" />
            </Component>
            <Component Id="cmp6049B69A071A21F39197D0725A024533" Guid="{CF8437A2-2055-4D3B-8DD4-8EA5AB71E2F1}">
                <File Id="filC7799C4256565E781A7EB558F5CCA82C" KeyPath="yes" Source="$(var.DMCLocation)\Lpp.Dns.DataMart.Client.pdb" />
            </Component>
            <Component Id="cmp990C9570B45605D88236AEC75D18B2C1" Guid="{3883268E-590D-4A81-A40D-83282EF925BB}">
                <File Id="fil3389FC611A5C955859607910CFBEF933" KeyPath="yes" Source="$(var.DMCLocation)\Lpp.Dns.DataMart.Model.Interface.dll" />
            </Component>
            <Component Id="cmp7846D56CED00BF6C8967313AC1206A89" Guid="{475BD6CE-E183-4054-BA6F-157FCF176C4F}">
                <File Id="fil336173CAAE7E365AA95A2A177C6A0785" KeyPath="yes" Source="$(var.DMCLocation)\Lpp.Dns.DataMart.Model.Interface.pdb" />
            </Component>
            <Component Id="cmp79E912CC00132729704E35B4EB24876A" Guid="{E1AB1AB3-2148-4982-B5D3-59B07A03EFA3}">
                <File Id="filBCEA0FE84048ACF34305A5816C1402CC" KeyPath="yes" Source="$(var.DMCLocation)\Lpp.Dns.DTO.DataMartClient.dll" />
            </Component>
            <Component Id="cmp34616A1404031881B6190FD36D6FCB78" Guid="{77E44409-AF97-4E0D-A4C5-448679A12EDA}">
                <File Id="fil7135767302D30CF35BFA6CE0A23AA08A" KeyPath="yes" Source="$(var.DMCLocation)\Lpp.Dns.DTO.DataMartClient.dll.config" />
            </Component>
            <Component Id="cmp22F5628B2A1347E64B99013D03308CE2" Guid="{1BB19016-E510-43BC-84A5-A4A75B799409}">
                <File Id="fil6C8C273C64B7ABBB7BB1B4AE97E6CF95" KeyPath="yes" Source="$(var.DMCLocation)\Lpp.Dns.DTO.DataMartClient.pdb" />
            </Component>
            <Component Id="cmp7B37BC35A8AE3E505BBE2D3D3C4FAB26" Guid="{134E4169-C750-45B3-BACB-CC226B5EB3F4}">
                <File Id="filF47C981D83590C9EE3EFEEFCD163662F" KeyPath="yes" Source="$(var.DMCLocation)\Lpp.Dns.DTO.dll" />
            </Component>
            <Component Id="cmp197F028910DB87B7CC50C95128FE99EE" Guid="{F858696F-0E68-4D22-9327-61A3805D8A9E}">
                <File Id="filA63C2A3D91886DD39136AAAF08537630" KeyPath="yes" Source="$(var.DMCLocation)\Lpp.Dns.DTO.dll.config" />
            </Component>
            <Component Id="cmp4D6433D7A51CB7CEAE9FDA780C63928C" Guid="{FDED34F6-8F4F-4F9F-AE57-17A555C48657}">
                <File Id="fil5252BC4B6D75A34787CE32CCF4E93768" KeyPath="yes" Source="$(var.DMCLocation)\Lpp.Dns.DTO.pdb" />
            </Component>
            <Component Id="cmp4CC2BADF0905015ACCB603238F2BC8E1" Guid="{B6D6D7DC-B3EC-4DF0-A3E0-E433F0D8B765}">
                <File Id="fil7F9DED2BC039891C4BF20E6DA58CA795" KeyPath="yes" Source="$(var.DMCLocation)\Lpp.Dns.DTO.xml" />
            </Component>
            <Component Id="cmp698D8BCC16A15E9F28DD35234BB95649" Guid="{A192212A-1377-4190-9C6E-17CA4083BD0E}">
                <File Id="filE061A783F10CEB2BEF7F9EF37732EA47" KeyPath="yes" Source="$(var.DMCLocation)\Lpp.Objects.dll" />
            </Component>
            <Component Id="cmp36C4B4E95D39E3642ED05E615D606E77" Guid="{0C3D2826-837E-4004-A535-6EE26F5A06D1}">
                <File Id="fil866514491711BCD40DE0E8F23EFEBEC1" KeyPath="yes" Source="$(var.DMCLocation)\Lpp.Objects.dll.config" />
            </Component>
            <Component Id="cmp8BA15DD2A7780154F7CF43B5BE3F4469" Guid="{01C7E3AC-5872-41DC-960D-492CD6DDF834}">
                <File Id="fil44E51D1FBC126FDD19D7AFBD1BE25232" KeyPath="yes" Source="$(var.DMCLocation)\Lpp.Objects.pdb" />
            </Component>
            <Component Id="cmp26A0B0F47AAB5078D5380EF158967279" Guid="{990EA3D2-D341-41AA-803C-2C2ACD525DEF}">
                <File Id="filA0598C03B11034F7D76E3A8CDF88F1B3" KeyPath="yes" Source="$(var.DMCLocation)\Lpp.Utilities.dll" />
            </Component>
            <Component Id="cmp52CF21BF527AA6A0354053E3080678CD" Guid="{C84747ED-FB0E-4D8C-9F56-D8853A097D1B}">
                <File Id="fil1C90EEA04FDB56F814672209FBF2D0E0" KeyPath="yes" Source="$(var.DMCLocation)\Lpp.Utilities.dll.config" />
            </Component>
            <Component Id="cmpFB58F4BA1EE204C17E53981F58D2B433" Guid="{7D790E2E-E3D2-43C7-8FE2-BD75763FFBB0}">
                <File Id="filAA49788FDC65FE12E2AAF5DBACE4BA86" KeyPath="yes" Source="$(var.DMCLocation)\Lpp.Utilities.pdb" />
            </Component>
            <Component Id="cmp8D70D98B32C8F908DD58C5F06708F289" Guid="{BDA46104-9906-4BB1-BB1D-A2445C1851F9}">
                <File Id="fil65C3764DFEF4B816AA91E646D63059C1" KeyPath="yes" Source="$(var.DMCLocation)\Microsoft.Threading.Tasks.dll" />
            </Component>
            <Component Id="cmp1DFBDA5C3F28C07C3DEBDDBAE7F78802" Guid="{0699D621-5AA5-425A-A9F2-9172CEB6A121}">
                <File Id="fil88E67E79EF1C4E174E3CA55C79D438EF" KeyPath="yes" Source="$(var.DMCLocation)\Microsoft.Threading.Tasks.Extensions.Desktop.dll" />
            </Component>
            <Component Id="cmp1CEBF83F44FBF4E54F6836267184EBCB" Guid="{B02107E8-0DB9-4B79-BAD1-D31C07D34AFE}">
                <File Id="fil73DE8E4573C49C252AF9BBEB750C3371" KeyPath="yes" Source="$(var.DMCLocation)\Microsoft.Threading.Tasks.Extensions.Desktop.xml" />
            </Component>
            <Component Id="cmp2BD2CA101B27AF1371B06F4F15D95F9B" Guid="{2D324D74-178F-469F-926B-DE81956E555C}">
                <File Id="fil477B767EE43BD465EE01C8F343860270" KeyPath="yes" Source="$(var.DMCLocation)\Microsoft.Threading.Tasks.Extensions.dll" />
            </Component>
            <Component Id="cmpF17FF2B4A4721FA24BEFA74C0309A2F1" Guid="{89674C82-DF5C-45CF-81C4-30535DB2E50B}">
                <File Id="fil34823D88AB36900C40AB3A8E7D4BD88A" KeyPath="yes" Source="$(var.DMCLocation)\Microsoft.Threading.Tasks.Extensions.xml" />
            </Component>
            <Component Id="cmp70F570FFEF73490225CDC4144CEC292F" Guid="{A225EB0D-CECD-43FE-B4C8-D4BCB3826F17}">
                <File Id="fil8DFD77FF75A79420C9E864EAFB8BD4C3" KeyPath="yes" Source="$(var.DMCLocation)\Microsoft.Threading.Tasks.xml" />
            </Component>
            <Component Id="cmpBC4FC00A26E7D32479D42D3411317FC5" Guid="{B6238DB3-11E3-41B0-BD66-65827A36D857}">
                <File Id="fil90A8AAD9FC612906D405476D61CEA3F4" KeyPath="yes" Source="$(var.DMCLocation)\Newtonsoft.Json.dll" />
            </Component>
            <Component Id="cmp125C379E185231EFADA4CB4301BD0A9E" Guid="{380483DA-FC59-4B99-88B8-708B391CBACA}">
                <File Id="fil3A2F44A7730E98D18E0948B3261DFABD" KeyPath="yes" Source="$(var.DMCLocation)\Newtonsoft.Json.xml" />
            </Component>
            <Component Id="cmp1D373F2EE04B834A7EA8C62E40373A2B" Guid="{2AE6CE77-9B92-418F-991E-38FA0357C07F}">
                <File Id="filC17689B07A9786C6CD47C566B7B7B275" KeyPath="yes" Source="$(var.DMCLocation)\Npgsql.dll" />
            </Component>
            <Component Id="cmpAC2F6DB1E032C0CA24B3367FE667ED0A" Guid="{FD0E978F-848E-45C9-86C2-EAAC75A4F5FC}">
                <File Id="fil2AF858CAFD0BB97FE9B6C4F53A166FB3" KeyPath="yes" Source="$(var.DMCLocation)\Oracle.ManagedDataAccess.dll" />
            </Component>
            <Component Id="cmpA5E215C9BBF1CAA9E046657ABBBDCC5D" Guid="{98569111-5974-4539-88BC-C1E2AFA9236F}">
                <File Id="fil3AFA0D937FF90894A756CA4C2CF0DC38" KeyPath="yes" Source="$(var.DMCLocation)\Renci.SshNet.dll" />
            </Component>
            <Component Id="cmp1966D043A58A3F77508F609F750D13F3" Guid="{CC5199A4-04FF-4A42-8857-85573BEF0E94}">
                <File Id="filBD38600BDF204EDCFC6D4371C7F2456F" KeyPath="yes" Source="$(var.DMCLocation)\Renci.SshNet.xml" />
            </Component>
            <Component Id="cmp43571D5B3C98C620B91CFB722AB036A9" Guid="{C742CAE6-CFA8-4E5F-BBDF-8623EE24D566}">
                <File Id="fil25C6F19EFB20FE77CA17650F918CB561" KeyPath="yes" Source="$(var.DMCLocation)\RestSharp.dll" />
            </Component>
            <Component Id="cmp76ED9A98F3A8983692E426BFC2E271CD" Guid="{1E832E86-A7A1-4CFB-87F1-0471C129A090}">
                <File Id="fil50ADDF17253DD61274E9BC28E52B5698" KeyPath="yes" Source="$(var.DMCLocation)\System.Interactive.dll" />
            </Component>
            <Component Id="cmpF0368FED4146FFECC06A4900883CCE0F" Guid="{1BFD56A7-F688-4726-B7F6-9B9E7D021E22}">
                <File Id="fil4A85C2CC7A84074A9E217753AC716B1E" KeyPath="yes" Source="$(var.DMCLocation)\System.Interactive.xml" />
            </Component>
            <Component Id="cmp797F8DC3A63E0E850FE46EF921C60A2B" Guid="{3E2BE2CB-DEA4-4759-84AD-F18C7C94EC64}">
                <File Id="fil97977DF0056BA3A8A7A4420F0D93914C" KeyPath="yes" Source="$(var.DMCLocation)\System.Net.Http.Extensions.dll" />
            </Component>
            <Component Id="cmp0D2E91AD62C787ED248697FDA0E57000" Guid="{106870AD-E12C-4900-8AF1-7A8AEC527982}">
                <File Id="fil63427980B3C5601FBA6D65443811B065" KeyPath="yes" Source="$(var.DMCLocation)\System.Net.Http.Extensions.xml" />
            </Component>
            <Component Id="cmp862AFB170C95C2950115AF83949F8EBE" Guid="{45953767-1E73-40ED-81D2-E7C6650AD881}">
                <File Id="filC6DC735FD1B63B9AA5507BA3585A39FB" KeyPath="yes" Source="$(var.DMCLocation)\System.Net.Http.Primitives.dll" />
            </Component>
            <Component Id="cmp992BC94250D724817C545305DCD23D33" Guid="{4DF15CB9-6DA1-43A8-A8FB-7368339F0E48}">
                <File Id="fil2AE0627785D66C2CAC0B4DFB63B317C2" KeyPath="yes" Source="$(var.DMCLocation)\System.Net.Http.Primitives.xml" />
            </Component>
            <Component Id="cmp33A2E0CDCB2457FD07A5EB7CD43D89DA" Guid="{FC0AD97A-B92C-44CB-AE5F-BF254875E859}">
                <File Id="fil846A953AFF86FEE17DA23C0C138E1A63" KeyPath="yes" Source="$(var.DMCLocation)\System.Reactive.Core.dll" />
            </Component>
            <Component Id="cmp658FF4AFD87816984B60B23176838707" Guid="{C69DFAEC-458A-4128-AF30-29DF40CEDF5C}">
                <File Id="filBFD9F16646CC705968A1EADF0D6EF5D3" KeyPath="yes" Source="$(var.DMCLocation)\System.Reactive.Core.xml" />
            </Component>
            <Component Id="cmpE39668959EEE73724DCF95607C11909E" Guid="{3757C355-2A9F-4659-883C-A2224637C1AA}">
                <File Id="fil089FEF1B09CE2D4674666B7E9AF34C95" KeyPath="yes" Source="$(var.DMCLocation)\System.Reactive.Interfaces.dll" />
            </Component>
            <Component Id="cmpFD0F2B89F46954E97B5CAE900E0E7970" Guid="{03D86CE7-61CE-4FBD-A7D9-7B15F76F7744}">
                <File Id="fil8B7049F5D719FE5E381569DB12CFA271" KeyPath="yes" Source="$(var.DMCLocation)\System.Reactive.Interfaces.xml" />
            </Component>
            <Component Id="cmpCBA72DF99C219D453FAFC3E749DA1F01" Guid="{5644C2B3-685C-4D2D-AC34-3699C270B727}">
                <File Id="fil95A058622AFC42820C25EF2E63A647E8" KeyPath="yes" Source="$(var.DMCLocation)\System.Reactive.Linq.dll" />
            </Component>
            <Component Id="cmpC79022383BA180BE267D30BFF993D878" Guid="{B30B343B-5369-4050-AE94-F5E9950F75FC}">
                <File Id="fil240B9A058EAA1D783F64F2597CE83EDD" KeyPath="yes" Source="$(var.DMCLocation)\System.Reactive.Linq.xml" />
            </Component>
            <Component Id="cmp1BC932B8353CD8372E8E42D3CA6CBB11" Guid="{BA8EF320-6D52-4A04-B016-0E44392A228E}">
                <File Id="fil6E825004F8F872DFE6F7A33919E147A0" KeyPath="yes" Source="$(var.DMCLocation)\System.Reactive.PlatformServices.dll" />
            </Component>
            <Component Id="cmp310738C5DD47548F0B834F8343BC44E5" Guid="{E06545D7-11C1-4B7D-A5BC-03399F3B9AD4}">
                <File Id="filCF758A33CFDB2E9A03775DD7D33D67C0" KeyPath="yes" Source="$(var.DMCLocation)\System.Reactive.PlatformServices.xml" />
            </Component>
            <Component Id="cmp6B3A90C65D0052F7AA87D6CBA7A47431" Guid="{9F748773-24F4-4793-8513-28776884AAE0}">
                <File Id="filB4B223D042EB19855C9A7AF7CA4CD2CB" KeyPath="yes" Source="$(var.DMCLocation)\System.Reactive.Windows.Forms.dll" />
            </Component>
            <Component Id="cmp96652979B553135C8913541FDE367690" Guid="{6CDA7A19-8130-4742-A873-C8C441784B08}">
                <File Id="fil41A6578DD24B3C9B8215EC200049C8F6" KeyPath="yes" Source="$(var.DMCLocation)\System.Reactive.Windows.Forms.xml" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="ProductComponents">
            <ComponentRef Id="cmp7C9D7ECB8AA42F8F89FFDA128508D39E" />
            <ComponentRef Id="cmpCA76E8B104F185E0E175A2C445E8ECE9" />
            <ComponentRef Id="cmpE1893094C315BFD8BCCF5DD862A69089" />
            <ComponentRef Id="cmp059A81F557F2A7B3731E3EE81BE97CCD" />
            <ComponentRef Id="cmp7427D6242735860F3E24583DE0ABB8ED" />
            <ComponentRef Id="cmp09378AF7D871E528386216BA6BBEC63C" />
            <ComponentRef Id="cmp0BFABD100B4065787B40AA6B05938DF7" />
            <ComponentRef Id="cmp6CF5CB56E3583D0EBD44D2BB10A62A27" />
            <ComponentRef Id="cmp28F47D9A07DA0DB70D726116C5513C1D" />
            <ComponentRef Id="cmp981D7BA469A26BB43293F58D0BD1DF19" />
            <ComponentRef Id="cmpAAA15040B9A962C3965B382ECEBE8E7F" />
            <ComponentRef Id="cmp4CDC6E9977EC72FC12718F8878E696A1" />
            <ComponentRef Id="cmp13D58469BCB864EB53214ED46E622188" />
            <ComponentRef Id="cmp742785C9A7B88BE6B2E81C2322E3D2EE" />
            <ComponentRef Id="cmp21131CDDC559A318CE5CC5B5BA0EA7D7" />
            <ComponentRef Id="cmpAEC0F6C69ED529CE588CAFD3AD456941" />
            <ComponentRef Id="cmpD98406C8C84B1394976931A587FA4563" />
            <ComponentRef Id="cmpFE1F05673C08A5858BF180681D85647E" />
            <ComponentRef Id="cmp37733E7A65F92B41C7D551BC9D4849B7" />
            <ComponentRef Id="cmp4CC9F38FEF67AFED4231687259FBF9F6" />
            <ComponentRef Id="cmp6049B69A071A21F39197D0725A024533" />
            <ComponentRef Id="cmp990C9570B45605D88236AEC75D18B2C1" />
            <ComponentRef Id="cmp7846D56CED00BF6C8967313AC1206A89" />
            <ComponentRef Id="cmp79E912CC00132729704E35B4EB24876A" />
            <ComponentRef Id="cmp34616A1404031881B6190FD36D6FCB78" />
            <ComponentRef Id="cmp22F5628B2A1347E64B99013D03308CE2" />
            <ComponentRef Id="cmp7B37BC35A8AE3E505BBE2D3D3C4FAB26" />
            <ComponentRef Id="cmp197F028910DB87B7CC50C95128FE99EE" />
            <ComponentRef Id="cmp4D6433D7A51CB7CEAE9FDA780C63928C" />
            <ComponentRef Id="cmp4CC2BADF0905015ACCB603238F2BC8E1" />
            <ComponentRef Id="cmp698D8BCC16A15E9F28DD35234BB95649" />
            <ComponentRef Id="cmp36C4B4E95D39E3642ED05E615D606E77" />
            <ComponentRef Id="cmp8BA15DD2A7780154F7CF43B5BE3F4469" />
            <ComponentRef Id="cmp26A0B0F47AAB5078D5380EF158967279" />
            <ComponentRef Id="cmp52CF21BF527AA6A0354053E3080678CD" />
            <ComponentRef Id="cmpFB58F4BA1EE204C17E53981F58D2B433" />
            <ComponentRef Id="cmp8D70D98B32C8F908DD58C5F06708F289" />
            <ComponentRef Id="cmp1DFBDA5C3F28C07C3DEBDDBAE7F78802" />
            <ComponentRef Id="cmp1CEBF83F44FBF4E54F6836267184EBCB" />
            <ComponentRef Id="cmp2BD2CA101B27AF1371B06F4F15D95F9B" />
            <ComponentRef Id="cmpF17FF2B4A4721FA24BEFA74C0309A2F1" />
            <ComponentRef Id="cmp70F570FFEF73490225CDC4144CEC292F" />
            <ComponentRef Id="cmpBC4FC00A26E7D32479D42D3411317FC5" />
            <ComponentRef Id="cmp125C379E185231EFADA4CB4301BD0A9E" />
            <ComponentRef Id="cmp1D373F2EE04B834A7EA8C62E40373A2B" />
            <ComponentRef Id="cmpAC2F6DB1E032C0CA24B3367FE667ED0A" />
            <ComponentRef Id="cmpA5E215C9BBF1CAA9E046657ABBBDCC5D" />
            <ComponentRef Id="cmp1966D043A58A3F77508F609F750D13F3" />
            <ComponentRef Id="cmp43571D5B3C98C620B91CFB722AB036A9" />
            <ComponentRef Id="cmp76ED9A98F3A8983692E426BFC2E271CD" />
            <ComponentRef Id="cmpF0368FED4146FFECC06A4900883CCE0F" />
            <ComponentRef Id="cmp797F8DC3A63E0E850FE46EF921C60A2B" />
            <ComponentRef Id="cmp0D2E91AD62C787ED248697FDA0E57000" />
            <ComponentRef Id="cmp862AFB170C95C2950115AF83949F8EBE" />
            <ComponentRef Id="cmp992BC94250D724817C545305DCD23D33" />
            <ComponentRef Id="cmp33A2E0CDCB2457FD07A5EB7CD43D89DA" />
            <ComponentRef Id="cmp658FF4AFD87816984B60B23176838707" />
            <ComponentRef Id="cmpE39668959EEE73724DCF95607C11909E" />
            <ComponentRef Id="cmpFD0F2B89F46954E97B5CAE900E0E7970" />
            <ComponentRef Id="cmpCBA72DF99C219D453FAFC3E749DA1F01" />
            <ComponentRef Id="cmpC79022383BA180BE267D30BFF993D878" />
            <ComponentRef Id="cmp1BC932B8353CD8372E8E42D3CA6CBB11" />
            <ComponentRef Id="cmp310738C5DD47548F0B834F8343BC44E5" />
            <ComponentRef Id="cmp6B3A90C65D0052F7AA87D6CBA7A47431" />
            <ComponentRef Id="cmp96652979B553135C8913541FDE367690" />
        </ComponentGroup>
    </Fragment>
</Wix>