@model Lpp.Dns.HealthCare.FileDistribution.Code.Exceptions.InvalidDataSetException
@{ this.Stylesheet( "FileDistribution.css" ); }
<div class="Exception">
    <p class="Exception">@Model.Message</p>
</div>