@model Lpp.Dns.HealthCare.ESPQueryBuilder.Models.ESPQueryViewModel
@{
    Layout = null;
}
<div class="VisitsTerm Term panel panel-default">
    <div class="panel-heading">Visits</div>
    <div class="panel-body">
        @Model.Base.MinVisits
    </div>
</div>