@using Lpp.QueryComposer
<script type="text/html" id="sv_@ModelTermsFactory.ClinicalObservationsID">
    <div class="row">
				<div class="col-sm-12 bold">Clinical Observations</div>
    </div>
</script>