@using Lpp.QueryComposer
<script type="text/html" id="sv_@ModelTermsFactory.PatientReportedOutcomeID">
    <div class="row">
				<div class="col-sm-12 bold">Patient Reported Outcome (PRO)</div>
    </div>
</script>