
@{
    Layout = "~/Views/_DialogLayout.cshtml";
}
@section Head{

    <script src="~/areas/workflow/js/requests/common/adddatamartdialog.js"></script>

}

<section style="height:auto;" id="AddDataMartDialog">
    <div class="panel-heading">
        <h3>Unselected DataMarts: </h3>
    </div>
    <div style="height:auto;" class="panel-body">
        <article style="height:auto;" id="RequestDataMarts">
            <input type="hidden" name="SelectedDataMartIDs" id="SelectedDataMartIDs" data-bind="value: SelectedDataMartIDs" />

            <style scoped>
                table {
                    width: 100%;
                    background-color: #f5f5f5;
                }

                /*The next 3 sections make the magic happen*/
                tbody tr {
                    display: table;
                    width: 100%;
                    table-layout: fixed;
                }

                thead {
                    display: table;
                    width: 99%;
                    table-layout: fixed;
                }

                tbody {
                    display: block;
                    max-height: 920px;
                    overflow-x: hidden;
                    overflow-y: scroll;
                }

                    tbody tr:nth-child(even) {
                        background-color: white;
                    }

                td {
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                /*Use the following to make sure cols align correctly*/
                table, tr, th, td {
                    border-collapse: collapse;
                    font-weight: normal;
                }


                    /*Set your columns to where you want them to be, skip the one that you can have resize to any width*/
                    th:nth-child(1), td:nth-child(1) {
                        width: 5%;
                    }

                    th:nth-child(2), td:nth-child(2) {
                        width: 45%;
                    }

                    th:nth-child(3), td:nth-child(3) {
                        width: 50%;
                        border-right: none !important;
                    }
            </style>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr style="background-color:#f5f5f5">
                        <th>
                            <input type="checkbox" title="Select All/None" data-bind="checked:RoutesSelectAll, indeterminateValue:SelectedDataMartIDs().length > 0 && SelectedDataMartIDs().length < AllUnfilteredDataMarts.length" />
                        </th>
                        <th>Name</th>
                        <th>Organization</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: $root.AllUnfilteredDataMarts">
                    <tr role="row">
                        <td><input type="checkbox" data-bind="value:ID, checked: $root.SelectedDataMartIDs" /></td>
                        <td data-bind="text: Name"></td>
                        <td data-bind="text: Organization"></td>
                    </tr>
                </tbody>
            </table>
        </article>
    </div>
    <nav>
        <button type="button" id="btnContinue" class="btn btn-primary action-btns" data-bind="click: $root.onContinue, enable: SelectedDataMartIDs().length > 0">Continue</button>
        <button type="button" id="btnCancel" class="btn btn-default action-btns" data-bind="click: $root.onCancel">Cancel</button>
    </nav>
</section>


