<script type="text/x-template" id="datamart-adapter">
<div id="crdModelInfo" class="card mb-3">
    <div class="card-header">File Distribution Model Settings</div>
    <div class="card-body">
        <p class="alert alert-info">No Model Settings Needed.</p>
    </div>
</div>
</script>
