<script type="text/x-template" id="forgotPasswordDialogTmpl">
    <div>
        <button name="forgotPasswordBtn" class="btn btn-link p-1 forgotPasswordBtn" @@click.stop.prevent="onToggleDialog" type="button">Forgot Password?</button>
        <k-dialog v-if="ShowDialog" :title="'Forgot Password?'" :modal="true" :width="650" @@close="ShowDialog = false" v-cloak>
            <div>
                <p class="alert alert-info"><strong class="text-uppercase">Instructions:</strong> Please enter your Username or Email. A new password reset link will be sent to your registered email address upon clicking "Send".</p>
                <form>
                    <div>
                        <label for="txtFP_username" class="form-label">Username:</label>
                        <input type="text" name="txtFP_username" v-model.trim="username" class="form-control" />
                    </div>
                    <div>
                        <p class="form-control-plaintext text-dark text-center">OR</p>
                    </div>
                    <div>
                        <label for="txtFP_email" class="form-label">Email:</label>
                        <input type="email" name="txtFP_email" v-model.trim="email" class="form-control" />
                    </div>
                </form>
            </div>
            <dialog-actions-bar>
                <kbutton :disabled="DisableSendButton" @@click="onSendResetEmail">Send</kbutton>
                <kbutton @@click="ShowDialog = false">Close</kbutton>
            </dialog-actions-bar>
        </k-dialog>
    </div>
</script>
