<div class="d-flex flex-column loading-panel">
    <img src="@Url.Content("~/images/loading.gif")" width="300" style="margin-left:auto;margin-right:auto" />
    <span class="align-self-center">Hang tight, we're getting things ready...</span>
</div>