
/****** Object:  Table [dbo].[NotificationFrequency]    Script Date: 01/04/2012 21:19:39 ******/
SET IDENTITY_INSERT [dbo].[NotificationFrequency] ON
INSERT [dbo].[NotificationFrequency] ([FrequencyID], [Days], [Description]) VALUES (1, 1, N'Everyday')
INSERT [dbo].[NotificationFrequency] ([FrequencyID], [Days], [Description]) VALUES (2, 2, N'Every 2 days')
INSERT [dbo].[NotificationFrequency] ([FrequencyID], [Days], [Description]) VALUES (3, 3, N'Every 3 days')
SET IDENTITY_INSERT [dbo].[NotificationFrequency] OFF
/****** Object:  Table [dbo].[Groups]    Script Date: 01/04/2012 21:19:39 ******/
SET IDENTITY_INSERT [dbo].[Groups] ON
INSERT [dbo].[Groups] ([GroupId], [GroupName], [IsDeleted], [IsApprovalRequired]) VALUES (1, N'HMORN', 0, 0)
INSERT [dbo].[Groups] ([GroupId], [GroupName], [IsDeleted], [IsApprovalRequired]) VALUES (2, N'HealthCare Group 2', 1, 0)
INSERT [dbo].[Groups] ([GroupId], [GroupName], [IsDeleted], [IsApprovalRequired]) VALUES (3, N'HealthCare Group 3', 1, 0)
SET IDENTITY_INSERT [dbo].[Groups] OFF
GO
/****** Object:  Table [dbo].[Organizations]    Script Date: 01/04/2012 21:19:39 ******/
SET IDENTITY_INSERT [dbo].[Organizations] ON
INSERT [dbo].[Organizations] ([OrganizationId], [OrganizationName], [IsDeleted], [IsApprovalRequired], [OrganizationAcronym]) VALUES (1, N'Harvard Pilgrim Health Care Institute', 0, 0, NULL)
INSERT [dbo].[Organizations] ([OrganizationId], [OrganizationName], [IsDeleted], [IsApprovalRequired], [OrganizationAcronym]) VALUES (2, N'Group Health Cooperative', 0, 0, NULL)
INSERT [dbo].[Organizations] ([OrganizationId], [OrganizationName], [IsDeleted], [IsApprovalRequired], [OrganizationAcronym]) VALUES (3, N'Healthcare Organization 3', 1, 0, NULL)
SET IDENTITY_INSERT [dbo].[Organizations] OFF
/****** Object:  Table [dbo].[NotificationTypes]    Script Date: 01/04/2012 21:19:39 ******/
SET IDENTITY_INSERT [dbo].[NotificationTypes] ON
INSERT [dbo].[NotificationTypes] ([NotificationTypeId], [NotificationType]) VALUES (1, N'Email')
SET IDENTITY_INSERT [dbo].[NotificationTypes] OFF
/****** Object:  Table [dbo].[NotificationProcessingConfig]    Script Date: 01/04/2012 21:19:39 ******/
INSERT [dbo].[NotificationProcessingConfig] ([ConfigName], [ConfigValue]) VALUES (N'SummaryCycleLastAttended', N'')
/****** Object:  Table [dbo].[QueryStatusTypes]    Script Date: 01/04/2012 21:19:39 ******/
INSERT [dbo].[QueryStatusTypes] ([QueryStatusTypeId], [QueryStatusType]) VALUES (1, N'Pending')
INSERT [dbo].[QueryStatusTypes] ([QueryStatusTypeId], [QueryStatusType]) VALUES (2, N'Submitted')
INSERT [dbo].[QueryStatusTypes] ([QueryStatusTypeId], [QueryStatusType]) VALUES (3, N'Completed')
/****** Object:  Table [dbo].[StratificationCategoryLookUp]    Script Date: 01/04/2012 21:19:39 ******/
INSERT [dbo].[StratificationCategoryLookUp] ([StratificationType], [StratificationCategoryId], [CategoryText], [ClassificationText], [ClassificationFormat]) VALUES (N'age', 1, N'10 Stratifications', N'(0-1,2-4,5-9,10-14,15-18,19-21,22-44,45-64,65-74,75+)', N'10,0-1,2-4,5-9,10-14,15-18,19-21,22-44,45-64,65-74,75-+')
INSERT [dbo].[StratificationCategoryLookUp] ([StratificationType], [StratificationCategoryId], [CategoryText], [ClassificationText], [ClassificationFormat]) VALUES (N'age', 2, N'7 Stratifications', N'(0-4,5-9,10-18,19-21,22-44,45-64,65+)', N'7,0-4,5-9,10-18,19-21,22-44,45-64,65-+')
INSERT [dbo].[StratificationCategoryLookUp] ([StratificationType], [StratificationCategoryId], [CategoryText], [ClassificationText], [ClassificationFormat]) VALUES (N'age', 3, N'4 Stratifications', N'(0-21,22-44,45-64,65+)', N'4,0-21,22-44,45-64,65-+')
/****** Object:  Table [dbo].[StratificationAgeRangeMapping]    Script Date: 01/04/2012 21:19:39 ******/
INSERT [dbo].[StratificationAgeRangeMapping] ([SubAgeClassification], [AgeClassification], [AgeStratificationCategoryId]) VALUES (N'''0-1''', N'0-1', 1)
INSERT [dbo].[StratificationAgeRangeMapping] ([SubAgeClassification], [AgeClassification], [AgeStratificationCategoryId]) VALUES (N'''2-4''', N'2-4', 1)
INSERT [dbo].[StratificationAgeRangeMapping] ([SubAgeClassification], [AgeClassification], [AgeStratificationCategoryId]) VALUES (N'''5-9''', N'5-9', 1)
/****** Object:  Table [dbo].[SiteThemes]    Script Date: 01/04/2012 21:19:39 ******/
INSERT [dbo].[SiteThemes] ([URLName], [ThemeName]) VALUES (N'DRN15.LOCALHOST.COM', N'DRN_1.5')
INSERT [dbo].[SiteThemes] ([URLName], [ThemeName]) VALUES (N'DRN2.LOCALHOST.COM', N'DRN_2.1')
INSERT [dbo].[SiteThemes] ([URLName], [ThemeName]) VALUES (N'LOCALHOST', N'DRN_2.1')
/****** Object:  Table [dbo].[RoleTypes]    Script Date: 01/04/2012 21:19:39 ******/
SET IDENTITY_INSERT [dbo].[RoleTypes] ON
INSERT [dbo].[RoleTypes] ([RoleTypeId], [RoleType], [Description], [IsDeleted]) VALUES (1, N'Investigator', N'This role shall be applied to user(s) who are expected only to login, submit and view results in the system', 0)
INSERT [dbo].[RoleTypes] ([RoleTypeId], [RoleType], [Description], [IsDeleted]) VALUES (2, N'Data Mart Administrator', N'This role shall be applied to user(s) who are assigned to Data Mart on the Data Mart Administration page', 0)
INSERT [dbo].[RoleTypes] ([RoleTypeId], [RoleType], [Description], [IsDeleted]) VALUES (3, N'System Administrator', N'This role shall be applied to user(s) who are expected to administer the system i.e. creating new Organization , Group, User...', 0)
SET IDENTITY_INSERT [dbo].[RoleTypes] OFF
/****** Object:  Table [dbo].[RightsCategories]    Script Date: 01/04/2012 21:19:39 ******/
SET IDENTITY_INSERT [dbo].[RightsCategories] ON
INSERT [dbo].[RightsCategories] ([CategoryId], [CategoryDescription], [CategoryOrder]) VALUES (1, N'Access', 1)
INSERT [dbo].[RightsCategories] ([CategoryId], [CategoryDescription], [CategoryOrder]) VALUES (2, N'Queries', 2)
INSERT [dbo].[RightsCategories] ([CategoryId], [CategoryDescription], [CategoryOrder]) VALUES (3, N'Results', 3)
SET IDENTITY_INSERT [dbo].[RightsCategories] OFF
/****** Object:  Table [dbo].[QueriesGroupStratifications]    Script Date: 01/04/2012 21:19:39 ******/
/****** Object:  Table [dbo].[QueryCategory]    Script Date: 01/04/2012 21:19:39 ******/
INSERT [dbo].[QueryCategory] ([QueryCategoryID], [QueryCategory], [CategoryDescription], [IsVisibleForSelection]) VALUES (1, N'Prevalence', N'Prevalence', 1)
INSERT [dbo].[QueryCategory] ([QueryCategoryID], [QueryCategory], [CategoryDescription], [IsVisibleForSelection]) VALUES (2, N'Incidence', N'Incidence', 1)
INSERT [dbo].[QueryCategory] ([QueryCategoryID], [QueryCategory], [CategoryDescription], [IsVisibleForSelection]) VALUES (3, N'Other', N'Other', 0)
/****** Object:  Table [dbo].[EntityTypes]    Script Date: 01/04/2012 21:19:39 ******/
SET IDENTITY_INSERT [dbo].[EntityTypes] ON
INSERT [dbo].[EntityTypes] ([EntityTypeID], [EntityType]) VALUES (1, N'User')
INSERT [dbo].[EntityTypes] ([EntityTypeID], [EntityType]) VALUES (2, N'Organization')
INSERT [dbo].[EntityTypes] ([EntityTypeID], [EntityType]) VALUES (3, N'Group')
SET IDENTITY_INSERT [dbo].[EntityTypes] OFF
/****** Object:  Table [dbo].[Documents]    Script Date: 01/04/2012 21:19:39 ******/
/****** Object:  Table [dbo].[DataMartTypes]    Script Date: 01/04/2012 21:19:39 ******/
INSERT [dbo].[DataMartTypes] ([DataMartTypeId], [DatamartType]) VALUES (0, N'Server based')
INSERT [dbo].[DataMartTypes] ([DataMartTypeId], [DatamartType]) VALUES (1, N'Client based')
/****** Object:  Table [dbo].[EventTypesCategory]    Script Date: 01/04/2012 21:19:39 ******/
SET IDENTITY_INSERT [dbo].[EventTypesCategory] ON
INSERT [dbo].[EventTypesCategory] ([EventTypesCategoryId], [EventTypesCategory]) VALUES (1, N'Datamart Administrator')
INSERT [dbo].[EventTypesCategory] ([EventTypesCategoryId], [EventTypesCategory]) VALUES (2, N'Investigator')
INSERT [dbo].[EventTypesCategory] ([EventTypesCategoryId], [EventTypesCategory]) VALUES (3, N'Query Administrator')
SET IDENTITY_INSERT [dbo].[EventTypesCategory] OFF
/****** Object:  Table [dbo].[EventTypes]    Script Date: 01/04/2012 21:19:39 ******/
SET IDENTITY_INSERT [dbo].[EventTypes] ON
INSERT [dbo].[EventTypes] ([EventTypeId], [EventType], [EventDescription], [EventOrdinal], [CanbeModified], [EventTypesCategoryID], [CategoryOrdinal], [AllowSummaryNotification]) VALUES (1, N'New Query', N'For Administrators:  "New Query" email notifications are sent to the administrators of each Data Mart selected in a new query submission. It alerts these administrators that a new query has been submitted and requires their action in order to process it. ', 3, 1, 1, 1, 1)
INSERT [dbo].[EventTypes] ([EventTypeId], [EventType], [EventDescription], [EventOrdinal], [CanbeModified], [EventTypesCategoryID], [CategoryOrdinal], [AllowSummaryNotification]) VALUES (3, N'Query Reminder', N'For Administrators:  "Query Pending Reminder" email notifications are “reminders” sent to each Data Mart administrator that a previously submitted query requires their attention in order to process it. ', 4, 1, 1, 1, 1)
SET IDENTITY_INSERT [dbo].[EventTypes] OFF
/****** Object:  Table [dbo].[DataAvailabilityPeriodCategory]    Script Date: 01/04/2012 21:19:39 ******/
INSERT [dbo].[DataAvailabilityPeriodCategory] ([CategoryTypeId], [CategoryType], [CategoryDescription], [IsPublished]) VALUES (1, N'YEARS', N'Available period for selection defined Annually', 1)
INSERT [dbo].[DataAvailabilityPeriodCategory] ([CategoryTypeId], [CategoryType], [CategoryDescription], [IsPublished]) VALUES (2, N'QUARTERS', N'Available period for selection defined Quarterly', 1)
/****** Object:  Table [dbo].[EventTypeNotificationFrequency]    Script Date: 01/04/2012 21:19:39 ******/
SET IDENTITY_INSERT [dbo].[EventTypeNotificationFrequency] ON
INSERT [dbo].[EventTypeNotificationFrequency] ([EventTypeNotificationFrequencyId], [EventTypeId], [FrequecyId]) VALUES (1, 1, 6)
INSERT [dbo].[EventTypeNotificationFrequency] ([EventTypeNotificationFrequencyId], [EventTypeId], [FrequecyId]) VALUES (2, 1, 7)
INSERT [dbo].[EventTypeNotificationFrequency] ([EventTypeNotificationFrequencyId], [EventTypeId], [FrequecyId]) VALUES (3, 1, 8)
SET IDENTITY_INSERT [dbo].[EventTypeNotificationFrequency] OFF
/****** Object:  Table [dbo].[EventSources]    Script Date: 01/04/2012 21:19:39 ******/
SET IDENTITY_INSERT [dbo].[EventSources] ON
INSERT [dbo].[EventSources] ([EventSourceId], [EventSource]) VALUES (1, N'Query Manager')
INSERT [dbo].[EventSources] ([EventSourceId], [EventSource]) VALUES (2, N'Query Manager (via Hub Background Service)')
INSERT [dbo].[EventSources] ([EventSourceId], [EventSource]) VALUES (3, N'Results Manager')
SET IDENTITY_INSERT [dbo].[EventSources] OFF
/****** Object:  Table [dbo].[DataAvailabilityPeriod]    Script Date: 01/04/2012 21:19:39 ******/
INSERT [dbo].[DataAvailabilityPeriod] ([CategoryTypeId], [Period], [IsPublished]) VALUES (1, N'2000', 1)
INSERT [dbo].[DataAvailabilityPeriod] ([CategoryTypeId], [Period], [IsPublished]) VALUES (1, N'2001', 1)
INSERT [dbo].[DataAvailabilityPeriod] ([CategoryTypeId], [Period], [IsPublished]) VALUES (1, N'2002', 1)
/****** Object:  Table [dbo].[Events]    Script Date: 01/04/2012 21:19:39 ******/
/****** Object:  Table [dbo].[DataMarts]    Script Date: 01/04/2012 21:19:39 ******/
SET IDENTITY_INSERT [dbo].[DataMarts] ON
INSERT [dbo].[DataMarts] ([DataMartId], [DataMartName], [Url], [RequiresApproval], [DataMartTypeId], [AvailablePeriod], [ContactEmail], [ContactFirstName], [ContactLastName], [ContactPhone], [SpecialRequirements], [UsageRestrictions], [isDeleted], [HealthPlanDescription], [OrganizationId], [IsGroupDataMart]) VALUES (1, N'LPeak-auto1', N'http://216.12.152.203/DRNDataMart/DataMartWebService.asmx', 0, 0, N'test period for pla1', N'srini@lincolnpeak.com', N'Srini', N'Karunanidhi', N'6174476975', N'test new Datamart 12345', N'test12345', 0, N'test description 12345', NULL, 0)
INSERT [dbo].[DataMarts] ([DataMartId], [DataMartName], [Url], [RequiresApproval], [DataMartTypeId], [AvailablePeriod], [ContactEmail], [ContactFirstName], [ContactLastName], [ContactPhone], [SpecialRequirements], [UsageRestrictions], [isDeleted], [HealthPlanDescription], [OrganizationId], [IsGroupDataMart]) VALUES (2, N'LPeak-auto2', N'http://216.12.152.203/DRNDataMart/DataMartWebService.asmx', 0, 0, N'test period', N'srini@lincolnpeak.com', N'srini', N'karunanidhi', N'123456788', N'test', N'test 123', 0, N'test description', NULL, 0)
INSERT [dbo].[DataMarts] ([DataMartId], [DataMartName], [Url], [RequiresApproval], [DataMartTypeId], [AvailablePeriod], [ContactEmail], [ContactFirstName], [ContactLastName], [ContactPhone], [SpecialRequirements], [UsageRestrictions], [isDeleted], [HealthPlanDescription], [OrganizationId], [IsGroupDataMart]) VALUES (3, N'Health Plan 3 (Testing, no response)', N'', 1, 1, N'test period', N'srini@lpp.com', N'Srini', N'Karunanidhi', N'test', N'test', N'test123', 1, N'Health Plan description', 1, 0)
SET IDENTITY_INSERT [dbo].[DataMarts] OFF
/****** Object:  Table [dbo].[QueryTypes]    Script Date: 01/04/2012 21:19:39 ******/
SET IDENTITY_INSERT [dbo].[QueryTypes] ON
INSERT [dbo].[QueryTypes] ([QueryTypeId], [QueryType], [QueryDescription], [IsVisibleForSelection], [IsAdminQueryType], [QueryCategoryId]) VALUES (1, N'Prev: Pharmacy Dispensings by Generic Name', N'Stratified by age group, sex, and period (either year or quarter).  Results include members, dispensing, and days supplied.', 1, 0, 1)
INSERT [dbo].[QueryTypes] ([QueryTypeId], [QueryType], [QueryDescription], [IsVisibleForSelection], [IsAdminQueryType], [QueryCategoryId]) VALUES (2, N'Prev: Pharmacy Dispensings by Drug Class', N'Stratified by age group, sex, and period (either year or quarter). Results include members, dispensing, and days supplied.', 1, 0, 1)
INSERT [dbo].[QueryTypes] ([QueryTypeId], [QueryType], [QueryDescription], [IsVisibleForSelection], [IsAdminQueryType], [QueryCategoryId]) VALUES (3, N'Prev: Dispensings by National Drug Code', N'Listing of dispensings and members by NDC for the entire X - X period.  Use to identify NDCs associated with a specific generic name and to assess usage across NDCs.', 1, 0, 1)
SET IDENTITY_INSERT [dbo].[QueryTypes] OFF
/****** Object:  Table [dbo].[OrganizationsGroups]    Script Date: 01/04/2012 21:19:39 ******/
INSERT [dbo].[OrganizationsGroups] ([OrganizationId], [GroupId]) VALUES (1, 1)
INSERT [dbo].[OrganizationsGroups] ([OrganizationId], [GroupId]) VALUES (1, 7)
INSERT [dbo].[OrganizationsGroups] ([OrganizationId], [GroupId]) VALUES (1, 8)
/****** Object:  Table [dbo].[Rights]    Script Date: 01/04/2012 21:19:39 ******/
INSERT [dbo].[Rights] ([RightId], [RightCode], [Description], [CategoryId], [CategoryOrdinal]) VALUES (1, N'Portal Login', N'Login to the portal', 1, 1)
INSERT [dbo].[Rights] ([RightId], [RightCode], [Description], [CategoryId], [CategoryOrdinal]) VALUES (2, N'Allow query submission to any DataMart', N'Allow query submission to any DataMart', 2, 1)
INSERT [dbo].[Rights] ([RightId], [RightCode], [Description], [CategoryId], [CategoryOrdinal]) VALUES (3, N'View Own Results Summary ', N'View results summary of queries submitted by self', 3, 7)
/****** Object:  Table [dbo].[Notifications]    Script Date: 01/04/2012 21:19:39 ******/
/****** Object:  Table [dbo].[NotificationOptions]    Script Date: 01/04/2012 21:19:39 ******/
INSERT [dbo].[NotificationOptions] ([UserId], [EventTypeId], [NotificationTypeId], [FrequencyID], [Days]) VALUES (1, 1, 1, NULL, NULL)
INSERT [dbo].[NotificationOptions] ([UserId], [EventTypeId], [NotificationTypeId], [FrequencyID], [Days]) VALUES (1, 2, 1, NULL, NULL)
INSERT [dbo].[NotificationOptions] ([UserId], [EventTypeId], [NotificationTypeId], [FrequencyID], [Days]) VALUES (1, 3, 1, NULL, NULL)
/****** Object:  Table [dbo].[Users]    Script Date: 01/04/2012 21:19:39 ******/
SET IDENTITY_INSERT [dbo].[Users] ON
INSERT [dbo].[Users] ([UserId], [Username], [Password], [isDeleted], [OrganizationId], [Email], [RoleTypeId], [Title], [FirstName], [LastName], [PasswordEncryptionLength], [Version], [LastUpdated]) VALUES (1, N'Jeff', N'12389933904cd90ea1f4f875e83b81eb96c79c0d', 0, 1, N'drn@hphc.org', 2, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Users] ([UserId], [Username], [Password], [isDeleted], [OrganizationId], [Email], [RoleTypeId], [Title], [FirstName], [LastName], [PasswordEncryptionLength], [Version], [LastUpdated]) VALUES (3, N'Roy', N'5402669263ff348f10e9f0f8745283ba8b497b27', 0, 2, N'Pardee.r@ghc.org', 2, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Users] ([UserId], [Username], [Password], [isDeleted], [OrganizationId], [Email], [RoleTypeId], [Title], [FirstName], [LastName], [PasswordEncryptionLength], [Version], [LastUpdated]) VALUES (4, N'Les', N'a9a43074b9e5701293db2e65c5b49232813e982f', 0, 4, N'hlkirchner@geisinger.edu', 1, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
/****** Object:  Table [dbo].[UserPasswordTrace]    Script Date: 01/04/2012 21:19:39 ******/
INSERT [dbo].[UserPasswordTrace] ([UserId], [Password], [DateAdded], [AddedBy]) VALUES (1, N'12389933904cd90ea1f4f875e83b81eb96c79c0d', CAST(0x00009FCE015C774E AS DateTime), 1)
INSERT [dbo].[UserPasswordTrace] ([UserId], [Password], [DateAdded], [AddedBy]) VALUES (3, N'5402669263ff348f10e9f0f8745283ba8b497b27', CAST(0x00009FCE015C774F AS DateTime), 3)
INSERT [dbo].[UserPasswordTrace] ([UserId], [Password], [DateAdded], [AddedBy]) VALUES (4, N'a9a43074b9e5701293db2e65c5b49232813e982f', CAST(0x00009FCE015C7750 AS DateTime), 4)
/****** Object:  Table [dbo].[UserNotificationFrequency]    Script Date: 01/04/2012 21:19:39 ******/
INSERT [dbo].[UserNotificationFrequency] ([UserID], [EventTypeId], [FrequencyID]) VALUES (16, 5, 1)
INSERT [dbo].[UserNotificationFrequency] ([UserID], [EventTypeId], [FrequencyID]) VALUES (60, 5, 5)
INSERT [dbo].[UserNotificationFrequency] ([UserID], [EventTypeId], [FrequencyID]) VALUES (61, 5, 4)
/****** Object:  Table [dbo].[Queries]    Script Date: 01/04/2012 21:19:39 ******/
/****** Object:  Table [dbo].[PermissionsUsersRights]    Script Date: 01/04/2012 21:19:39 ******/
/****** Object:  Table [dbo].[PermissionsUsersQueryTypes]    Script Date: 01/04/2012 21:19:39 ******/
INSERT [dbo].[PermissionsUsersQueryTypes] ([UserId], [QueryTypeId]) VALUES (63, 1)
INSERT [dbo].[PermissionsUsersQueryTypes] ([UserId], [QueryTypeId]) VALUES (63, 2)
INSERT [dbo].[PermissionsUsersQueryTypes] ([UserId], [QueryTypeId]) VALUES (63, 3)
/****** Object:  Table [dbo].[PermissionsUsersDataMarts]    Script Date: 01/04/2012 21:19:39 ******/
INSERT [dbo].[PermissionsUsersDataMarts] ([UserId], [DataMartId]) VALUES (1, 17)
INSERT [dbo].[PermissionsUsersDataMarts] ([UserId], [DataMartId]) VALUES (1, 18)
INSERT [dbo].[PermissionsUsersDataMarts] ([UserId], [DataMartId]) VALUES (1, 19)
/****** Object:  Table [dbo].[PermissionsQueryTypesDataMarts]    Script Date: 01/04/2012 21:19:39 ******/
INSERT [dbo].[PermissionsQueryTypesDataMarts] ([DataMartId], [QueryTypeId]) VALUES (1, 1)
INSERT [dbo].[PermissionsQueryTypesDataMarts] ([DataMartId], [QueryTypeId]) VALUES (1, 2)
INSERT [dbo].[PermissionsQueryTypesDataMarts] ([DataMartId], [QueryTypeId]) VALUES (1, 3)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
/****** Object:  Table [dbo].[PermissionsOrganizationsRights]    Script Date: 01/04/2012 21:19:39 ******/
INSERT [dbo].[PermissionsOrganizationsRights] ([OrganizationId], [RightId]) VALUES (32, 1)
/****** Object:  Table [dbo].[PermissionsOrganizationsQueryTypes]    Script Date: 01/04/2012 21:19:39 ******/
INSERT [dbo].[PermissionsOrganizationsQueryTypes] ([OrganizationId], [QueryTypeId]) VALUES (1, 3)
INSERT [dbo].[PermissionsOrganizationsQueryTypes] ([OrganizationId], [QueryTypeId]) VALUES (32, 1)
INSERT [dbo].[PermissionsOrganizationsQueryTypes] ([OrganizationId], [QueryTypeId]) VALUES (32, 2)
/****** Object:  Table [dbo].[PermissionsOrganizationsDataMarts]    Script Date: 01/04/2012 21:19:39 ******/
INSERT [dbo].[PermissionsOrganizationsDataMarts] ([OrganizationId], [DataMartId]) VALUES (4, 23)
INSERT [dbo].[PermissionsOrganizationsDataMarts] ([OrganizationId], [DataMartId]) VALUES (4, 24)
INSERT [dbo].[PermissionsOrganizationsDataMarts] ([OrganizationId], [DataMartId]) VALUES (32, 1)
/****** Object:  Table [dbo].[PermissionsGroupsRights]    Script Date: 01/04/2012 21:19:39 ******/
INSERT [dbo].[PermissionsGroupsRights] ([GroupId], [RightId]) VALUES (1, 1)
INSERT [dbo].[PermissionsGroupsRights] ([GroupId], [RightId]) VALUES (14, 1)
/****** Object:  Table [dbo].[PermissionsGroupsQueryTypes]    Script Date: 01/04/2012 21:19:39 ******/
INSERT [dbo].[PermissionsGroupsQueryTypes] ([GroupId], [QueryTypeId]) VALUES (1, 1)
INSERT [dbo].[PermissionsGroupsQueryTypes] ([GroupId], [QueryTypeId]) VALUES (1, 2)
INSERT [dbo].[PermissionsGroupsQueryTypes] ([GroupId], [QueryTypeId]) VALUES (1, 3)
/****** Object:  Table [dbo].[PermissionsGroupsDataMarts]    Script Date: 01/04/2012 21:19:39 ******/
INSERT [dbo].[PermissionsGroupsDataMarts] ([GroupId], [DataMartId]) VALUES (1, 1)
INSERT [dbo].[PermissionsGroupsDataMarts] ([GroupId], [DataMartId]) VALUES (1, 2)
INSERT [dbo].[PermissionsGroupsDataMarts] ([GroupId], [DataMartId]) VALUES (1, 4)
/****** Object:  Table [dbo].[OrganizationAdministrators]    Script Date: 01/04/2012 21:19:39 ******/
/****** Object:  Table [dbo].[NotificationSecureGUID]    Script Date: 01/04/2012 21:19:39 ******/
/****** Object:  Table [dbo].[RoleRightsMap]    Script Date: 01/04/2012 21:19:39 ******/
INSERT [dbo].[RoleRightsMap] ([RoleTypeId], [RightId]) VALUES (1, 1)
INSERT [dbo].[RoleRightsMap] ([RoleTypeId], [RightId]) VALUES (1, 2)
INSERT [dbo].[RoleRightsMap] ([RoleTypeId], [RightId]) VALUES (1, 3)
/****** Object:  Table [dbo].[DatamartNotifications]    Script Date: 01/04/2012 21:19:39 ******/
INSERT [dbo].[DatamartNotifications] ([DatamartId], [NotificationUserId]) VALUES (3, 6)
INSERT [dbo].[DatamartNotifications] ([DatamartId], [NotificationUserId]) VALUES (4, 12)
INSERT [dbo].[DatamartNotifications] ([DatamartId], [NotificationUserId]) VALUES (4, 13)
/****** Object:  Table [dbo].[GroupedDatamartsMap]    Script Date: 01/04/2012 21:19:39 ******/
/****** Object:  Table [dbo].[GroupAdministrators]    Script Date: 01/04/2012 21:19:39 ******/
/****** Object:  Table [dbo].[EventDetailNewGroupResult]    Script Date: 01/04/2012 21:19:39 ******/
/****** Object:  Table [dbo].[EventDetailEntityAdded]    Script Date: 01/04/2012 21:19:39 ******/
/****** Object:  Table [dbo].[EventDetailNewResult]    Script Date: 01/04/2012 21:19:39 ******/
/****** Object:  Table [dbo].[EventDetailQueryTypeDatamartAssociation]    Script Date: 01/04/2012 21:19:39 ******/
/****** Object:  Table [dbo].[EventDetailQueryStatusChange]    Script Date: 01/04/2012 21:19:39 ******/
/****** Object:  Table [dbo].[Information]    Script Date: 01/04/2012 21:19:39 ******/
SET IDENTITY_INSERT [dbo].[Information] ON
INSERT [dbo].[Information] ([Id], [QueryTypeId], [Information]) VALUES (1, 1, N'Search for a specific generic name, or select a drug class from the drop-down menu to identify all generic name sin the selected drug class. Select up to 10 drug names to query, and the age group, sex, and period parameters. Then select the sites to query and click ''Start This Query''. Member counts cannot be summed across period as some patients will have dispensing in more than one period.')
INSERT [dbo].[Information] ([Id], [QueryTypeId], [Information]) VALUES (2, 2, N'Search for specific drug classes by name, or to view all drug classes, leave the search bar empty and click on the search button. Select up to 10 drug classes to query, and the age group, sex, and period parameters. Then select the sites to query and click ''Start This Query''. Member counts cannot be summed across period as some patients will have dispensing in more than one period.')
INSERT [dbo].[Information] ([Id], [QueryTypeId], [Information]) VALUES (3, 3, N'Select up to 10 drugs to view and then click ''Start This Query''. This query will return every NDC dispensed for the selected generic name.  For example, selecting ''Atorvastatin Calcium'' will return 1 row for every NDC found in the database associated with atorvastatin calcium, including total dispensings and users for each.  NDCs are unique by route of administration (e.g., sublingual). Data represent total dispensings and otal users by NDCs over the entire X through X period.')
SET IDENTITY_INSERT [dbo].[Information] OFF
/****** Object:  Table [dbo].[EventDetailUserUpdated]    Script Date: 01/04/2012 21:19:39 ******/
/****** Object:  Table [dbo].[EventDetailViewedResult]    Script Date: 01/04/2012 21:19:39 ******/
/****** Object:  Table [dbo].[EventDetailSubmitterReminder]    Script Date: 01/04/2012 21:19:39 ******/
/****** Object:  Table [dbo].[EventDetailQueryReminder]    Script Date: 01/04/2012 21:19:39 ******/
/****** Object:  Table [dbo].[EventDetailNewQueryForQueryAdmin]    Script Date: 01/04/2012 21:19:39 ******/
/****** Object:  Table [dbo].[EventDetailNewQuery]    Script Date: 01/04/2012 21:19:39 ******/
/****** Object:  Table [dbo].[DataMartAvailabilityPeriods]    Script Date: 01/04/2012 21:19:39 ******/
/****** Object:  Table [dbo].[QueryOrganizationalDataMart]    Script Date: 01/04/2012 21:19:39 ******/
/****** Object:  Table [dbo].[Query]    Script Date: 01/04/2012 21:19:39 ******/
/****** Object:  Table [dbo].[QueriesDocuments]    Script Date: 01/04/2012 21:19:39 ******/
/****** Object:  Table [dbo].[QueriesDataMarts]    Script Date: 01/04/2012 21:19:39 ******/
/****** Object:  Table [dbo].[QueriesCachedResults]    Script Date: 01/04/2012 21:19:39 ******/
/****** Object:  Table [dbo].[Responses]    Script Date: 01/04/2012 21:19:39 ******/
/****** Object:  Table [dbo].[QueryResultsViewedStatus]    Script Date: 01/04/2012 21:19:39 ******/
/****** Object:  Table [dbo].[ResponsesDocuments]    Script Date: 01/04/2012 21:19:39 ******/
