@{
    ViewBag.Title = "Project List";
}
@section Scripts {
    <script type="module" src="~/scripts/PmnGrid/PmnGrid.js"></script>
    <script type="module" src="~/js/projects/index.js"></script>
}

    <article class="panel panel-default" data-bind="css: {visible: true}">
        <div class="panel-heading">
            <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active"><a href="/projects">Projects</a></li>
            </ol>
        </div>
        <div class="panel-body">
            <p class="alert alert-info">
                This list contains all projects that you have permission to view. To view the details of a project click on its name in the list below.
            </p>
            <div data-bind="style: {height: gHeight}">
            <div id="gProjects" data-bind="pmnGrid: {
                    dataSource: ds,
                    autoBind: false,
                    savedSetting:{
                        Key: 'Projects.Index.gGroups.User:',
                        Setting: dsSetting !== null ? dsSetting.Setting : null
                    },
                    scrollable: {
                        virtual: true
                    },
                    pageable: false,
                    columns: [
                        {field: 'Name', title: 'Name', template: NameAnchor},
                        {field: 'Group', title: 'Group', template: GroupAnchor},
                        {field: 'Description', title: 'Description'}
                    ]
                    }">
            </div>
            </div>
        </div>
        <nav class="panel-footer right">
            <button class="btn btn-default btn-sm" id="btnNewProject" data-bind="click: btnNewProject_Click, visible: CanCreateProject"><img src="@Url.Content("~/images/Add16.png")" alt="Add Project" />Add Project</button>
        </nav>
    </article>
