@using Lpp.QueryComposer

<script type="text/html" id="e_@ModelTermsFactory.ICD9ProcedureCodes4digitID">
    <p class="bold center operator" data-bind="text:Global.Helpers.GetEnumString(Dns.Enums.QueryComposerOperatorsTranslation, Operator()), visible:$index() > 0"></p>
    <div class="row row-noborder">
        <div class="col-sm-4 bold"><h4 id="lblDiagnosis" class="TermHeader bold">ICD 9 Procedure (4 digit)<em data-bind="visible:Design.Locked" style="color:red">*</em></h4></div>
        <div class="col-sm-4 form-group" style="padding-top: 7px;">
            <button id="btnAddICD9Procedure4digitCodes" style="margin-top:5px;" class="btn btn-primary" data-bind="click: function(data, event) {$root.OpenCodeSelector(data, Dns.Enums.Lists.ICD9Procedures4Digits, event);}"><span class="glyphicon glyphicon-pencil"></span> Select Procedure Codes</button>
            <div style="margin-top:4px;">
                <!-- ko if: Values().Codes != null && Values().Codes.length > null -->
                <strong>Selected:</strong><span data-bind="visible:Values != null && Values().Codes != null && Values().Codes().length > 0, text:Values().Codes().join()"></span>
                <!-- /ko -->
                <div data-bind="attr: { id: 'lblCodes' + $index()}, visible:Values != null && Values().CodeValues != null && Values().CodeValues().length > 0">
                    <!-- ko if: Values().CodeValues != null && Values().CodeValues().length > null -->
                    <ul data-bind="foreach: Values().CodeValues()">
                        <li>
                            <span style="font-weight:bold;" data-bind="text: Code"></span> - <span data-bind="text: Name"></span>
                        </li>
                    </ul>
                    <!-- /ko -->
                </div>
                <span data-bind="visible:Values == null || Values().CodeValues == null || Values().CodeValues().length == 0">&lt;None Selected&gt;</span>
            </div>
        </div>
        <div class="col-sm-2" data-bind="visible: $root.IsTemplateEdit">
            <input type="checkbox" data-bind="checked: Design.Locked" />
            <span>Locked</span>
        </div>
        <div class="col-sm-2">
            <button id="btnDeleteProcedure4digitCodeTerm" style="margin-top:5px;" class="btn btn-danger pull-right" data-bind="click: function(data, event) { $root.DeleteTerm(data, $parent, event);}, visible: $root.IsTemplateEdit || !Design.Locked()"><span class="glyphicon glyphicon-minus"></span> Remove</button>
        </div>
    </div>
</script>
