@model Lpp.Dns.HealthCare.ESPQueryBuilder.Models.ESPQueryViewModel
@{
    Layout = null;
}
<div class="ZipCodeSelectorTerm Term panel panel-default">
    <div class="panel-heading">Zip Codes</div>
    <div class="panel-body">
    @Model.Base.ZipCodes
    </div>
</div>