@model Lpp.Dns.HealthCare.ESPQueryBuilder.Models.ESPQueryViewModel
@{
    Layout = null;
}
<div class="CustomLocationTerm Term panel panel-default">
    <div class="panel-heading">Custom Location</div>
    <div class="panel-body">
        Name: @Model.Base.LocationNames<br/>
        Zip Codes: @Model.Base.LocationCodes
    </div>
</div>