<div class="DummyTerm Term ui-groupbox">
    <input name="TermName" value= "Dummy" hidden="hidden" />
    <div class="ui-groupbox-header">
        <span>Dummy</span>
    </div>
    <div class="Dummy">
        Dummy
    </div>
</div>
